& {
	--default-favicon:	  url("chrome://userchrome/content/assets/img/chrome-21/favicons/default_favicon.png");
	--settings-favicon:   url("chrome://userchrome/content/assets/img/chrome-21/tabbar/IDR_SETTINGS_FAVICON.png");
	--extensions-favicon: url("chrome://userchrome/content/assets/img/chrome-21/tabbar/IDR_EXTENSIONS_FAVICON.png");
}