& {
	--default-gkdownloads-pane-background: #DFDFDF;

	--gkdownloads-item-border-radius: 4px;
	--gkdownloads-item-border-block-start-color-normal: rgba(0,0,0,.09);
	--gkdownloads-item-border-block-end-color-normal: rgba(0,0,0,.4);
	--gkdownloads-item-border-inline-start-color-normal: rgba(0,0,0,.21);
	--gkdownloads-item-border-inline-end-color-normal: rgba(0,0,0,.21);
}