& {
	--tab-distance-from-titlebar-maximized: -3px;
	--tab-distance-from-left-window-border-normal: -6px;
	--tab-distance-from-left-window-border-maximized: -6px;
	--tab-width: 194px;
	--tab-height: 29px;
	--tab-sides-width: 21px;
	--tab-inner-margin-start: 22px;
	--tab-gap-between: -28px;

	--tab-inline-start-mask: 				url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_alpha_left.png");
	--tab-inline-start-inactive-texture: 	url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_inactive_left.png");
	--tab-inline-start-inactive2-mask: 		url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_inactive2_alpha_left.png");
	--tab-inline-start-inactive2-texture: 	url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_inactive2_left.png");
	--tab-inline-start-active-texture: 		url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_active_left.png");
	--tab-inline-center-mask: 				url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_alpha_center.png");
	--tab-inline-center-inactive-texture: 	url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_inactive_center.png");
	--tab-inline-center-active-texture: 	url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_active_center.png");
	--tab-inline-end-mask: 					url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_alpha_right.png");
	--tab-inline-end-inactive-texture: 		url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_inactive_right.png");
	--tab-inline-end-active-texture: 		url("chrome://userchrome/content/assets/img/chrome-21/tabbar/tab_active_right.png");

	--tab-close-button-margin-inline-end: -8px;

	--newtab-distance-from-tabs: 17px;
	--newtab-width: 34px;

	--newtab-normal: var(--inactive-tab-background);
	--newtab-hot: rgba(255, 255, 255, 0.8);
	--newtab-active: rgb(211, 217, 225, 0.4);
	
	--newtab-button-mask:				url("chrome://userchrome/content/assets/img/chrome-21/tabbar/newtab_button_mask_views.png");
	--newtab-button-texture-normal:		url("chrome://userchrome/content/assets/img/chrome-21/tabbar/newtab_views.png");
	--newtab-button-texture-hot:		url("chrome://userchrome/content/assets/img/chrome-21/tabbar/newtab_views.png"); // Remove hot texture.
	--newtab-button-texture-pressed:	url("chrome://userchrome/content/assets/img/chrome-21/tabbar/newtab_p_views.png");

	// else if chrtheme
	&[lwtheme-id*="firefox-compact-light"][chrtheme="true"] {
		--theme-newtab: var(--inactive-tab-background, var(--default-theme-newtab)) !important;
	}
}

#tabs-newtab-button,
#TabsToolbar #new-tab-button {
	&:active {
		&::before {
			background-color: var(--newtab-active);
		}
	}
}