& {
	--back-button-icon:		url("chrome://userchrome/content/assets/img/chrome-21/toolbar/back.svg");
	--forward-button-icon:	url("chrome://userchrome/content/assets/img/chrome-21/toolbar/forward.svg");
	--reload-button-icon:	url("chrome://userchrome/content/assets/img/chrome-21/toolbar/reload.svg");
	--stop-button-icon:		url("chrome://userchrome/content/assets/img/chrome-21/toolbar/stop.svg");
	--home-button-icon:		url("chrome://userchrome/content/assets/img/chrome-21/toolbar/home.svg");

	--star-button-icon-normal:	url("chrome://userchrome/content/assets/img/chrome-21/toolbar/star.png");
	--star-button-icon-starred:	url("chrome://userchrome/content/assets/img/chrome-21/toolbar/star_lit.png");

	--bookmarks-menu-button-icon:		url("chrome://userchrome/content/assets/img/chrome-21/toolbar/menu_bookmark.svg");
	--unified-extensions-button-icon:	url("chrome://userchrome/content/assets/img/chrome-21/toolbar/menu_plugin.svg");
	--page-button-icon:					url("chrome://userchrome/content/assets/img/chrome-21/toolbar/menu_page.svg");
	--chrome-button-icon:				url("chrome://userchrome/content/assets/img/chrome-21/toolbar/menu_chrome.svg");

	--logins-button-icon:		url("chrome://userchrome/content/assets/img/chrome-21/toolbar/passwords.svg");
	--developer-button-icon: 	url("chrome://userchrome/content/assets/img/chrome-21/toolbar/menu_developer.svg");
	--preferences-button-icon:	url("chrome://userchrome/content/assets/img/chrome-21/toolbar/settings.svg");
	--fullscreen-button-icon:	url("chrome://userchrome/content/assets/img/chrome-21/toolbar/fullscreen.svg");
	--new-window-button-icon:	url("chrome://userchrome/content/assets/img/chrome-21/toolbar/newwindow.svg");
	--open-file-button-icon:	url("chrome://userchrome/content/assets/img/chrome-21/toolbar/openfile.svg");
}