//NOTE: This border style ignores native titlebars

& {
    --titlebar-border-radius: 0;
	--tab-distance-from-top: 8px;
	&[sizemode="maximized"],
	&[sizemode="fullscreen"] {
		--tab-distance-from-top: 0px;
	}
}