& {
	--tab-width: 191px;

	--tab-close-button-margin-inline-end: -3px;

	--tab-close-button-normal: 				url("chrome://userchrome/content/assets/img/chrome-47/tabbar/tab_close.svg");
	--tab-close-button-hot: 				url("chrome://userchrome/content/assets/img/chrome-47/tabbar/tab_close_h.svg");
	--tab-close-button-pressed: 			url("chrome://userchrome/content/assets/img/chrome-47/tabbar/tab_close_p.svg");
}