& {
	--sign-in-button-top-left:				url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_top_left.svg");
	--sign-in-button-top:					url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_top.svg");
	--sign-in-button-top-right:				url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_top_right.svg");
	--sign-in-button-left:					url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_left.svg");
	--sign-in-button-center:				url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_center.svg");
	--sign-in-button-right:					url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_right.svg");
	--sign-in-button-bottom-left:			url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_bottom_left.svg");
	--sign-in-button-bottom:				url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_bottom.svg");
	--sign-in-button-bottom-right:			url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_bottom_right.svg");

	--sign-in-button-top-left-hover:		url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_top_left_hover.svg");
	--sign-in-button-top-hover:				url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_top_hover.svg");
	--sign-in-button-top-right-hover:		url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_top_right_hover.svg");
	--sign-in-button-left-hover:			url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_left_hover.svg");
	--sign-in-button-center-hover:			url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_center_hover.svg");
	--sign-in-button-right-hover:			url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_right_hover.svg");
	--sign-in-button-bottom-left-hover:		url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_bottom_left_hover.svg");
	--sign-in-button-bottom-hover:			url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_bottom_hover.svg");
	--sign-in-button-bottom-right-hover:	url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_bottom_right_hover.svg");

	--sign-in-button-top-left-pressed:		url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_top_left_pressed.svg");
	--sign-in-button-top-pressed:			url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_top_pressed.svg");
	--sign-in-button-top-right-pressed:		url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_top_right_pressed.svg");
	--sign-in-button-left-pressed:			url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_left_pressed.svg");
	--sign-in-button-center-pressed:		url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_center_pressed.svg");
	--sign-in-button-right-pressed:			url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_right_pressed.svg");
	--sign-in-button-bottom-left-pressed:	url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_bottom_left_pressed.svg");
	--sign-in-button-bottom-pressed:		url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_bottom_pressed.svg");
	--sign-in-button-bottom-right-pressed:	url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_bottom_right_pressed.svg");

	--sign-in-button-corner-size: 5px;
}

// Updated titlebar styles
&[chromemargin]:not([macOSNativeFullscreen]) {
	// Chromium OS
	&[gktitstyle="chromiumos"] {
		@import "titlebar/borders/chromiumos";
	}
}

// Updated titlebutton styles
// Chromium OS
&[gktitbuttons="chromiumos"] {
	@import "titlebar/buttons/chromiumos";
}

// People button
.titlebar-buttonbox-container {
	gap: 6px;
}

&[fxastatus="signedin"] .titlebar-people {
	.toolbarbutton-icon {
		display: none !important;
	}
	.toolbarbutton-text {
		display: flex !important;
	}
}

&:not([fxastatus="signedin"])[gktitstyle="macos"] #people-titlebuttons-space #gk-firefox-account-button {
	list-style-image: url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_avatar.svg");

	&:hover,
	&:active {
		list-style-image: url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_avatar_hover.svg");
	}
}

&[gktitstyle="macos"] #people-titlebuttons-space {
	margin-inline: 3px !important;
	align-items: center !important;
	padding-block-end: 1px;

	#gk-firefox-account-button {
		min-width: 28px;
		min-height: 28px;
		padding: 0 !important;
		background-repeat: no-repeat !important;
		background-image:	var(--sign-in-button-top-left),		var(--sign-in-button-top),		var(--sign-in-button-top-right),
							var(--sign-in-button-left),			var(--sign-in-button-center),	var(--sign-in-button-right),
							var(--sign-in-button-bottom-left),	var(--sign-in-button-bottom),	var(--sign-in-button-bottom-right);
		background-position:	0 0,											var(--sign-in-button-corner-size) 0,									100% 0,
								0 var(--sign-in-button-corner-size),			var(--sign-in-button-corner-size) var(--sign-in-button-corner-size),	100% var(--sign-in-button-corner-size),
								0 100%,											var(--sign-in-button-corner-size) 100%,									100% 100%;
		background-size:	var(--sign-in-button-corner-size) var(--sign-in-button-corner-size),					calc(100% - (var(--sign-in-button-corner-size) * 2)) var(--sign-in-button-corner-size),						var(--sign-in-button-corner-size) var(--sign-in-button-corner-size),
							var(--sign-in-button-corner-size) calc(100% - (var(--sign-in-button-corner-size) * 2)),	calc(100% - (var(--sign-in-button-corner-size) * 2)) calc(100% - (var(--sign-in-button-corner-size) * 2)),	var(--sign-in-button-corner-size) calc(100% - (var(--sign-in-button-corner-size) * 2)),
							var(--sign-in-button-corner-size) var(--sign-in-button-corner-size),					calc(100% - (var(--sign-in-button-corner-size) * 2)) var(--sign-in-button-corner-size),						var(--sign-in-button-corner-size) var(--sign-in-button-corner-size);

		&:hover {
			background-image:	var(--sign-in-button-top-left-hover),		var(--sign-in-button-top-hover),	var(--sign-in-button-top-right-hover),
								var(--sign-in-button-left-hover),			var(--sign-in-button-center-hover),	var(--sign-in-button-right-hover),
								var(--sign-in-button-bottom-left-hover),	var(--sign-in-button-bottom-hover),	var(--sign-in-button-bottom-right-hover);
		}

		&:active {
			background-image:	var(--sign-in-button-top-left-pressed),		var(--sign-in-button-top-pressed),	var(--sign-in-button-top-right-pressed),
								var(--sign-in-button-left-pressed),			var(--sign-in-button-center-pressed),	var(--sign-in-button-right-pressed),
								var(--sign-in-button-bottom-left-pressed),	var(--sign-in-button-bottom-pressed),	var(--sign-in-button-bottom-right-pressed);
		}

		.toolbarbutton-text {
			margin-inline: 10px !important;
		}
	}
}