& {
	--personal-toolbar-floating-height: 39px;
	--personal-toolbar-floating-bg-height: var(--personal-toolbar-floating-height);
	--personal-toolbar-floating-bg-margin-inline: 0px;
	--personal-toolbar-floating-radius: 0px;
	--personal-toolbar-floating-items-height: 24px;
	--personal-toolbar-floating-border-block-start-width: 0px;
	--personal-toolbar-floating-border-block-end-width: 1px;
	--personal-toolbar-floating-border-inline-start-width: var(--personal-toolbar-floating-border-block-start-width);
	--personal-toolbar-floating-border-inline-end-width: var(--personal-toolbar-floating-border-block-start-width);

	&[personalbar="newtab"] #PersonalToolbar #personal-toolbar-floating-bg {
		left: 0;
		top: 0;
		transform: unset;
	}

	&[profilepicbutton="true"]:not([profilepic="none"])[profilepic="chromium"] {
		$profile-pictures: 25; // bruni: Set the amount of profile pictures
		@for $i from 0 through $profile-pictures {
			&[profilepicchromium="#{$i}"]:not([fxastatus="not_configured"]) panel toolbarbutton {
				&.subviewbutton,
				&.toolbarbutton-1 {
					&#fxa-manage-account-button::before {
						background-image: url("chrome://userchrome/content/assets/img/profile/#{$i}_big.png");
					}
				}
			}
		}
	}

	&:not([fxastatus="not_configured"]) panel toolbarbutton {
		&.subviewbutton,
		&.toolbarbutton-1 {
			&#fxa-manage-account-button::before {
				background-position-y: bottom !important;
			}
		}
	}

	&[geckium-choice="fortyseven"] #PersonalToolbar #personal-toolbar-empty-description .text-link {
		color: inherit !important;
	}
}