& {
	--urlbarView: rgb(255, 255, 255, 94%);
}

.urlbarView {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
	margin-top: 4px !important;
	border-radius: 5px;

	/* bruni: Let's make the urlbar menu width from star button to go button. */
	transform: translateX(calc(var(--toolbarbutton-width) * -1));
	width: calc(100% + 2 * var(--toolbarbutton-width)) !important;
}

#urlbar-results > .urlbarView-row:first-of-type {
	.urlbarView-no-wrap::before {
		content: var(--search-favicon);
		position: absolute;
		width: 16px;
		height: 16px;
		left: 4px;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.urlbarView-favicon {
		display: none;
	}
}

.urlbarView-row {
	&:not([type="tip"]) {
		padding-block: unset !important;

		.urlbarView-no-wrap {
			flex-basis: 0 !important;
		}
	}

	&:not([has-url]) {
		.urlbarView-title {
			&::before {
				content: unset;
			}

			padding-inline-start: 24px;
		}

		.urlbarView-url {
			display: none !important;
		}
	}

	&[type="switchtab"] .urlbarView-row-inner .urlbarView-title {
		padding-left: 24px;
	}
}

.urlbarView-favicon {
	display: flex;
}

.urlbarView-url {
	padding-left: 24px !important;
	width: unset;
	max-width: 50%;
}

.urlbarView-title {
	color: rgb(131, 133, 133);

	&::before {
		content: "-";
		padding: 0 4px;
	}
}