@import "sidebar";
@import "main";

& {
	--in-content-font-body-size-base: 9pt !important;
	--main-pane-width: var(--main-pane-width-final) !important;
	--section-width: var(--main-pane-width-final) !important;
}

body {
	--main-pane-width: var(--main-pane-width-final) !important;

	font: message-box;
	font-size: 9pt !important;
	@media (-moz-platform: windows) {
		font-family: Arial, sans-serif !important;
	}
}