& {
	font: caption;
	font-size: 9pt !important;
	@media (-moz-platform: windows) {
		font-family: Arial, sans-serif !important;
	}

	--chrtheme-ntp-background-alignment: 50% 100%;
	--chrtheme-ntp-background-repeat: no-repeat;

	// Custom theme support
	// lwtheme
	&[gkthemed]:not([gkchrthemed]) {
		--ntp-background-color: var(--newtab-background-color);

		&[style*="--lwt-gknewtab-attribution-image"] {
			#attribution {
				display: flex;
			}

			#attribution-img {
				background-image: var(--lwt-gknewtab-attribution-image);
				width: var(--lwt-gknewtab-attribution-width);
				height: var(--lwt-gknewtab-attribution-height);
			}
		}

		body {
			background-image: var(--lwt-gknewtab-background-image, var(--lwt-gknewtab-image));
			@media (prefers-color-scheme: dark) {
				background-image: var(--lwt-gknewtab-background-image-dark, var(--lwt-gknewtab-background-image, var(--lwt-gknewtab-image)));
			}

			background-attachment: fixed; // Create the parallax scrolling effect
			image-rendering: var(--lwt-gknewtab-image-rendering);
			background-size: var(--lwt-gknewtab-background-size);
			background-position: var(--lwt-gknewtab-background-position);

			&[style*="--lwt-gknewtab-background-position-y"] {
				background-position-x: var(--lwt-gknewtab-background-position-x);
			}
			&[style*="--lwt-gknewtab-background-position-y"] {
				background-position-x: var(--lwt-gknewtab-background-position-y);
			}

			background-repeat: var(--lwt-gknewtab-background-repeat);
		}
	}

	// chrtheme
	&[gkthemed][gkchrthemed] {
		--ntp-background-color: var(--chrtheme-ntp-background);

		body {
			background-image: var(--chrtheme-theme-ntp-background);
			background-attachment: fixed;
		}

		#attribution-img {
			background-image: var(--chrtheme-theme-ntp-attribution);
			width: var(--chrtheme-theme-ntp-attribution-width);
			height: var(--chrtheme-theme-ntp-attribution-height);
		}

		&[style*="--chrtheme-theme-ntp-attribution"] {
			#attribution {
				display: flex;
			}
		}
	}

	// GTK+
	//   blame >=115 for gkthemed being here too
	&[gksystheme="gtk"]:not([gkthemed], [gkchrthemed]) {
		--ntp-background-color: Field;

		body {
			color: FieldText;
		}
	}

	&[geckium-choice="three"],
	&[geckium-choice="four"],
	&[geckium-choice="five"],
	&[geckium-choice="six"] {
		@media only screen and (max-width: 920px) {
			#main {
				width: 692px;
			}
		}
	}
}

&[geckium-choice="three"],
&[geckium-choice="four"],
&[geckium-choice="five"],
&[geckium-choice="six"] {
	&[gkbranding="chromium"] {
		#main {
			background: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/chromium/product_logo.png) no-repeat 0px 8px;
		}
	}
	&[gkbranding="chrome"] {
		#main {
			background: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/google-chrome/product_logo.png) no-repeat 0px 8px;
		
			@media (prefers-color-scheme: dark) {
				background: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/google-chrome/product_logo_alternate.png) no-repeat 0px 8px;
			}
		}
	
		&[style*="--chrtheme-ntp-logo-alternate: 1"],
		&[style*="--lwt-gkntp-logo-alternate: 1"] {
			#main {
				background: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/google-chrome/product_logo_alternate.png) no-repeat 0px 8px;
			}
		}
	}
}

body {
	background-size: unset;
	background-repeat: var(--chrtheme-ntp-background-repeat);
	background-position: var(--chrtheme-ntp-background-alignment);
}

#main {
	margin-inline: auto;
	width: 920px;
	gap: 0px;

	transition-property: height, width;
	transition-duration: .15s;
}

#attribution-img {
	background-size: contain;
	background-repeat: no-repeat;
}

@import "most-visited";
@import "recently-closed";
@import "lower-sections";
@import "footer";