& {
	--default-lower-sections-background: rgba(239, 246, 255, 0.796875);
	--lower-sections-background: var(--default-lower-sections-background);
	--default-lower-sections-h2-background: linear-gradient(
		to bottom,
		rgb(98, 164, 245),
		rgb(73, 138, 218)
	);
	--lower-sections-h2-background: var(--default-lower-sections-h2-background);
	--default-lower-sections-border-color: rgb(222, 234, 248);
	--lower-sections-border-color: var(--default-lower-sections-border-color);

	@media (prefers-color-scheme: dark) {
		--default-lower-sections-background: rgba(239, 246, 255, 0.2);
		--default-lower-sections-h2-background: linear-gradient(
			to bottom,
			rgb(14, 80, 159),
			rgb(20, 62, 112)
		);

		--default-lower-sections-border-color: rgb(65, 94, 128);
	}

	// Custom theme support
	// lwtheme
	&:not([lwtheme-id*="default-theme"], [lwtheme-id*="compact-light"]) {
		&:not([lwtheme-id*="firefox-compact"], [lwtheme-id*="compact-light"]) {
			&[lwtheme-id*="{"],
			&[lwtheme-id*="@mozilla.org"] {
				--lower-sections-border-color: color-mix(
					in srgb,
					var(--thumbnail-border-color-normal) 70%,
					white
				) !important;

				&:not([lwtheme-id*="#{$gtkplus}"]) {
					--lower-sections-h2-background: linear-gradient(
						to bottom,
						var(--thumbnail-border-color-normal),
						var(--thumbnail-border-color-normal)
					) !important;
				}
				&[lwtheme-id*="#{$gtkplus}"] {
					--lower-sections-h2-background: var(--edit-bar-background-hot) !important;
				}
			}
		}
	}
	// chrtheme
	&[lwtheme-id*="firefox-compact-light"][chrtheme="true"] {
		--lower-sections-border-color: color-mix(
			in srgb,
			var(--thumbnail-border-color-normal) 70%,
			white
		) !important;

		--lower-sections-h2-background: 
		linear-gradient(
			to bottom,
			color-mix(
				in srgb,
				var(--thumbnail-border-color-normal) 75%,
				white
			),
			var(--thumbnail-border-color-normal)
		),
		grey !important
	}
}

#lower-sections {
	gap: 20px;

	> .section {
		flex: 1;
		background: var(--lower-sections-background);
		border: 1px solid var(--lower-sections-border-color);
		border-radius: 4px;
		padding-block-end: 5px;
		overflow: hidden;
		height: 198px;

		> hbox {
			> vbox {
				flex: 1;
			}
		}

		h2 {
			background: var(--lower-sections-h2-background);
			padding: 4px 8px;
			font-size: 10pt;
			font-weight: bold;
			color: white;
		}

		h3 {
			margin-inline-start: 3px;
			padding: 8px 5px;
			padding-block-end: 0;
			font-size: 8pt;
		}

		.item-container {
			margin-inline-start: 5px;
		}

		.item {
			all: unset;

			display: flex;
			font-size: 10pt;
			margin-block: 2px;
			padding-block: 2px;

			image {
				width: 16px;
				height: 16px;
			}

			label {
				margin-inline-start: 2px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&.nav {
				padding-inline-start: 18px;

				&:after {
					content: "\00bb";
					margin-inline-start: 2px;
				}
			}
		}

		a,
		button {
			&.item {
				cursor: pointer;
				color: var(--link-color);
				text-decoration: underline;
			}
		}

		.tips-title {
			padding: 2px;
			padding-block-start: 9px;
			padding-inline-start: 18px;
		}
	}
}