& {
	--default-window-menu-item-hover-bg: hsl(213, 66%, 57%);
	--window-menu-item-hover-bg: var(--default-window-menu-item-hover-bg);

	--default-view-toolbar-buttons-bg: rgb(134,177,231);
	--view-toolbar-buttons-bg: var(--default-view-toolbar-buttons-bg);
	--default-window-menu-item-hover-bg: rgb(134,177,231);

	--default-thumbnail-border-color-normal: #E5EFFE;
	--thumbnail-border-color-normal: var(--default-thumbnail-border-color-normal);
	--default-thumbnail-border-color-hot: rgb(75,140,220);
	--thumbnail-border-color-hot: var(--default-thumbnail-border-color-hot);
	--default-thumbnail-container-color: black;
	--thumbnail-container-color: var(--default-thumbnail-container-color);
	--default-thumbnail-disabled-color: #DFEAF7;
	--thumbnail-disabled-color: var(--default-thumbnail-disabled-color);
	--default-edit-bar-background-color-hot: hsl(213, 66%, 57%);
	--edit-bar-background-color-hot: var(--default-edit-bar-background-color-hot);
	--default-edit-bar-background-hot: linear-gradient(
		to bottom,
		hsl(213, 87%, 67%),
		var(--edit-bar-background-color-hot)
	);
	--edit-bar-background-hot: var(--default-edit-bar-background-hot);

	--default-link-color: #06C;
	--link-color: var(--default-link-color);

	@media (prefers-color-scheme: dark) {
		--thumbnail-border-color-normal: color-mix(
			in srgb,
			rgb(14, 80, 159) 45%,
			white
		);
		--thumbnail-container-color: white;
		--thumbnail-disabled-color: color-mix(
			in srgb,
			rgb(14, 80, 159) 40%,
			white
		);

		--default-edit-bar-background-hot: linear-gradient(
			to bottom,
			rgb(14, 80, 159),
			rgb(20, 62, 112)
		);
		--default-thumbnail-border-color-hot: rgb(20, 62, 112);

		--link-color: #acc0da;
	}

	// Custom theme support
	// lwtheme
	&:not([lwtheme-id*="default-theme"], [lwtheme-id*="compact-light"]) {
		&:not([lwtheme-id*="firefox-compact"], [lwtheme-id*="compact-light"]) {
			&[lwtheme-id*="{"],
			&[lwtheme-id*="@mozilla.org"] {
				&:not([lwtheme-id*="#{$gtkplus}"]) {
					--view-toolbar-buttons-bg: var(--toolbar-color, var(--lwt-text-color)) !important;
					--window-menu-item-hover-bg: var(--toolbar-color, var(--lwt-text-color)) !important;
		
					--thumbnail-border-color-normal: color-mix(in srgb, var(--edit-bar-background-color-hot) 50%, white) !important;
					--thumbnail-border-color-hot: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;
					--thumbnail-container-color: var(--link-color) !important;
					--thumbnail-disabled-color: var(--thumbnail-border-color-normal) !important;
					
					&:not([style*="--toolbar-color: white"]),
					&:not([style*="--toolbar-color: rgb(255,255,255)"]),
					&:not([style*="--toolbar-color: rgba(255,255,255,1)"]) {
						--edit-bar-background-color-hot: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;
						--edit-bar-background-hot: linear-gradient(
							to bottom,
							color-mix(in srgb, var(--edit-bar-background-color-hot) 70%, white),
							var(--edit-bar-background-color-hot)
						) !important;
					}
		
					--link-color: var(--lwt-accent-color) !important;
		
					&[style*="--arrowpanel-background"] {
						--link-color: var(--arrowpanel-color, var(--lwt-accent-color)) !important;
					}
				}
				&[lwtheme-id*="#{$gtkplus}"] {
					--view-toolbar-buttons-bg: AccentColor !important;
					--window-menu-item-hover-bg: AccentColor !important;
		
					--thumbnail-border-color-normal: color-mix(in srgb, ActiveCaption 10%, white) !important;
					--thumbnail-border-color-hot: color-mix(in srgb, var(--edit-bar-background-color-hot) 99%, black) !important;
					--thumbnail-container-color: -moz-dialogtext;
					--edit-bar-background-color-hot: color-mix(in srgb, AccentColor 85%, black) !important;
					--edit-bar-background-hot: linear-gradient(
						to bottom,
						color-mix(in srgb, var(--edit-bar-background-color-hot) 70%, white),
						var(--edit-bar-background-color-hot)
					) !important;
				}
			}
		}
	}
	// chrtheme
	&[lwtheme-id*="firefox-compact-light"][chrtheme="true"] {
		--manually-adapted-header: var(--chrt-ntp-section, var(--chrt-ntp-header));
		--view-toolbar-buttons-bg: color-mix(
			in srgb,
			var(--manually-adapted-header) 70%,
			white
		);
		
		/*&[style*="--chrt-ntp-section"] {
			--thumbnail-border-color-normal: color-mix(
				in srgb,
				var(--manually-adapted-header) 20%,
				white
			) !important;
			//--thumbnail-border-color-hot: var(--manually-adapted-header, var(--default-thumbnail-border-color-hot)) !important;
		}*/
		--thumbnail-border-color-normal: var(--chrt-ntp-section, var(--default-thumbnail-border-color-normal)) !important;
		--thumbnail-border-color-hot: var(--chrt-ntp-header, var(--chrt-ntp-section, var(--default-thumbnail-border-color-hot))) !important;
		--thumbnail-container-color: var(--chrt-ntp-text, var(--default-thumbnail-container-color)) !important;
		--window-menu-item-hover-bg: var(--view-toolbar-buttons-bg, var(--default-window-menu-item-hover-bg)) !important;
		
		--edit-bar-background-color-hot: var(--thumbnail-border-color-hot, var(--default-thumbnail-border-color-hot)) !important;
		--edit-bar-background-hot: linear-gradient(
			to bottom,
			color-mix(
				in srgb,
				var(--edit-bar-background-color-hot) 70%,
				white
			),
			var(--edit-bar-background-color-hot)
		) !important;
	}
}

#view-toolbar {
	margin-block-start: 35px;
	margin-block-end: 18px;
	justify-content: end;
	gap: 5px;

	> input,
	> button {
		all: unset;

		position: relative;

		border-radius: 4px;
		background-color: var(--view-toolbar-buttons-bg);
		box-sizing: border-box;
		width: 19px;
		height: 17px;

		&#thumb-checkbox {
			background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_thumb_off.png);

			&:not([disabled]) {
				&:hover {
					background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_thumb_off_h.png);
				}

				&:active {
					background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_thumb_off_p.png);
				}

				&:checked {
					background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_thumb_on.png);
	
					&:not([disabled]) {
						&:hover {
							background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_thumb_on_h.png);
						}
	
						&:active {
							background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_thumb_on_p.png);
						}
					}
				}
			}
		}

		&#list-checkbox {
			background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_list_off.png);

			&:not([disabled]) {
				&:hover {
					background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_list_off_h.png);
				}

				&:active {
					background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_list_off_p.png);
				}

				&:checked {
					background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_list_on.png);
	
					&:not([disabled]) {
						&:hover {
							background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_list_on_h.png);
						}
					}
				}
			}
		}

		&#option-button {
			background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_option.png);

			&:not([disabled]) {
				&:hover {
					background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_option_h.png);
				}

				&:active {
					background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_option_p.png);
				}

				&[open] {
					background-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_option_p.png);
				}
			}
		}
	}
}


.window-menu-button {
	&:not([disabled]) {
		&[open] {
			.window-menu {
				display: flex;
			}
		}
	}

	.window-menu {
		display: none;
		position: absolute;
		top: 18px;
		right: -1px;
		min-width: 175px;
		box-shadow: rgba(0, 0, 0, 0.296875) 2px 2px 3px;
		background-color: white;
		border: 1px solid #999;
		color: black;
		padding: 2px;
	
		> *:not(separator) {
			cursor: default;
			padding: 3px 8px;
	
			&:hover {
				background-color: var(--window-menu-item-hover-bg);
				color: white;
			}
		}
	
		.checkbox-check {
			width: 12px;
		}
	}
}

#most-visited,
#most-viewed-content,
#most-visited-page .tile-grid,
#mv-tiles {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 0 20px;
	margin-block-end: 34px;

	&.collapsed {
		display: none;
	}

	&.list {
		display: block;
		margin-top: 22px;

		.thumbnail-container {
			color: var(--link-color);
			font-size: 16pt;

			.edit-mode-border {
				display: none;
			}

			.title {
				height: 46px;

				> hbox {
					align-items: center;
				}
			}
		}
	}
}

.thumbnail-container {
	color: var(--thumbnail-container-color);
	text-decoration: none;

	@media (prefers-color-scheme: dark) {
		color: white;
	}
	
	&:not([disabled]) {
		&:hover,
		&:focus {
			.edit-bar {
				margin-block-start: 0px;
				margin-block-end: 0px;
				background-color: var(--edit-bar-background-color-hot);
				background-image: var(--edit-bar-background-hot);
				box-shadow: 0px 2px 2px hsla(0, 0%, 0%, .5);
				
				transition-delay: .5s, .5s, .5s;
			}

			.thumbnail {
				border-color: var(--thumbnail-border-color-hot);
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				background-image: linear-gradient(
					to bottom,
					hsla(0, 0%, 0%, 0) 0%,
					hsla(0, 0%, 47%, 0) 85%,
					hsla(0, 0%, 47%, 0.2) 100%
				);
				box-shadow: 0px 2px 2px hsla(0, 0%, 0%, .5);

				/* delay border radius transition as much as the edit bar slide delay */
				transition-delay: 0s, 0s, .5s;
			}
		}
	}
	&[disabled] {
		.thumbnail-wrapper {
			border: solid var(--thumbnail-disabled-color);
			background: rgb(243,243,243);
		}

		.thumbnail {
			background-color: var(--thumbnail-disabled-color);
			border: 1px solid white;
			padding: 0;
		}
	}

	&.pinned {
		.pin {
			list-style-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_pin_on.png);

			&:hover {
				list-style-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_pin_on_h.png);
			}

			&:active {
				list-style-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_pin_on_p.png);
			}
		}
	}

	.thumbnail-wrapper {
		background: white;
		border-radius: 5px;
		background-size: 209px 132px;
		background-position: center;
		background-repeat: no-repeat;
	}

	.thumbnail {
		width: 207px;
		height: 129px;
		border-width: 3px;
		border-style: solid;
		border-color: var(--thumbnail-border-color-normal);
		border-radius: 5px;
		padding: 1px;

		transition: border-color .15s, box-shadow .15s, border-radius .15s;
	}

	.edit-mode-border {
		border-radius: 4px;
	}

	.edit-bar {
		box-sizing: unset;

		background: hsl(213, 54%, 95%);
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		height: 17px;
		margin-block-start: 21px;
		margin-block-end: -21px;
		padding-block-start: 3px;
		padding-inline: 3px;
		cursor: move;

		@media (prefers-color-scheme: dark) {
			background: #617796;
		}

		transition: margin .15s, background-color .15s, box-shadow .15s;

		button {
			all: unset;

			cursor: pointer;
			width: 16px;
			height: 16px;

			&.pin {
				list-style-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_pin_off.png);
		
				&:hover {
					list-style-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_pin_off_h.png);
				}
		
				&:active {
					list-style-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_pin_off_p.png);
				}
			}
		
			&.remove {
				list-style-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_close.png);
		
				&:hover {
					list-style-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_close_h.png);
				}
		
				&:active {
					list-style-image: url(chrome://userchrome/content/pages/newTabHome/assets/chrome-3/imgs/newtab_close_p.png);
				}
			}
		}
	}

	.title {
		padding-block-start: 4px;
		padding-inline-start: 3px;
		padding-inline-end: 5px;
		height: 16px;

		label {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.favicon {
		margin-inline-end: 4px;
	}
}