&[fxastatus="not_configured"] panel toolbarbutton {
	&.subviewbutton,
	&.toolbarbutton-1 {
		&#fxa-manage-account-button::before {
			background-size: 26px;
		}
	}
}

#PanelUI-fxa-menu > toolbarbutton.subviewbutton,
#PanelUI-signedin-panel > toolbarbutton.subviewbutton {
	&:first-of-type {
		margin-block-start: 10px !important;
	}

	&:not(#fxa-manage-account-button) {
		min-height: 40px !important;
		border-block-start: 0 !important;

		&::before {
			content: "";
			width: 18px;
			height: 18px;
			margin-inline-end: 15px;
			text-align: center !important;
		}
	}
}

#PanelUI-fxa-menu {
	padding-block-end: 10px !important;
}

[id*="synced-tabs-client"] {
	margin-inline-start: 16px !important;
}

panel toolbarbutton {
	&.subviewbutton,
	&.toolbarbutton-1 {
		padding-inline: 17px !important;
		
		&:hover {
			color: FieldText !important;
		}
	
		&#fxa-manage-account-button {
			flex-direction: row !important;
			padding-block: 16px !important;
			margin-block-end: 18px !important;
	
			&::before {
				min-width: 40px;
				min-height: 40px;
				margin-block-end: 0 !important;
				margin-inline-end: 6px !important;
			}
	
			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 100%;
				height: 1px;
				background-color: rgb(233,233,233);
				pointer-events: none;
			}
	
			&:hover #fxa-menu-header-title {
				color: FieldText !important;
			}
	
			> vbox {
				align-items: start !important;
	
				#fxa-menu-header-description {
					font-size: 9pt !important;
				}
			}
		}
	}
}