&[geckium-choice="six"] {
	#recently-closed {
		margin: 0 !important;
		border-radius: 0 !important;
		border-inline: 0 !important;
		background-color: transparent !important;
		padding-block: 7px !important;
		padding-inline: 0 !important;
	}
}