& {
	// Custom theme support
	// lwtheme
	&[gkthemed]:not([gkchrthemed]) {
		--recently-closed-border-color: var(--recently-closed-item-color, var(--default-recently-closed-border-color));
		--recently-closed-item-color: var(--link-color, var(--default-recently-closed-item-color));
	}
}

&[geckium-choice="six"] {
	#recently-closed {
		margin: 0;
		border-radius: 0;
		border-inline: 0;
		background-color: transparent;
		padding-block: 7px;
		padding-inline: 0;
	}
}