body {
	margin: 10px 8px;
	color: black;
	font: caption;
	font-size: 10pt !important;
	@media (-moz-platform: windows) {
		font-family: Arial, sans-serif !important;
	}
}
// GTK+
&[gksystheme="gtk"]:not([lwtheme], [gkthemed], [gkchrthemed]) {
	body {
		background-color: Field;
		color: FieldText;
	}
}

.content,
.extensionsmessage {
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	padding: 10px;
}

.content {
	border-radius: 5px;
	background-color: rgb(238, 238, 238);
	color: black;
}