:root:is([tabsintitlebar]) {
    @import "Aero/base";

    @supports -moz-bool-pref("userChrome.padding.tabbar_width") {
        @media (-moz-gtk-csd-available) and (-moz-gtk-csd-reversed-placement: 0) {
            .titlebar-spacer[type="post-tabs"] {
                width: 128px !important;
            }
        }
    }

    @media (-moz-gtk-csd-available) {
        &[tabsintitlebar] #titlebar {
            background: linear-gradient(transparent 50%, #2B2A33AA);
        }
    }
    --aero-top-padding-maximized: 0px !important;
}