:root:is([tabsintitlebar]) {
    @import "Aero/base";

    /*
    * Adjustments for better compatability with Silverfox
    */
    --aero-padding:                              6px;
    --aero-top-padding-windowed:                 5px;
    --aero-top-padding-maximized:                0px;

    &[sizemode="maximized"]
    {
        --aero-titlebuttons-top-offset:              -1px;
    }

    /*
    * Fixups
    */
    --aero-silverfox-downloads-panel-bottom:             var(--aero-padding);
    --aero-silverfox-downloads-panel-left:               var(--aero-padding);
    --aero-silverfox-downloads-panel-width-subtract:     calc(var(--aero-padding) + var(--aero-padding) + 4px);

    &[sizemode="maximized"]
    {
        --aero-silverfox-downloads-panel-bottom:             0px;
        --aero-silverfox-downloads-panel-left:               0px;
        --aero-silverfox-downloads-panel-width-subtract:     4px;
    }

    #downloadsPanel
    {
        left:   var(--aero-silverfox-downloads-panel-left) !important;
        bottom: var(--aero-silverfox-downloads-panel-bottom) !important;
        width:  calc(100% - var(--aero-silverfox-downloads-panel-width-subtract)) !important;
    }

    #downloadsHistory,
    #downloadsHideButtonID
    {
        right:  var(--aero-silverfox-downloads-panel-left) !important;
        bottom: var(--aero-silverfox-downloads-panel-bottom) !important;
    }

    /* downloadsbar.css:24 */
    &:not([sizemode="normal"]) #downloadsPanel
    {
        width: calc(100% - var(--aero-silverfox-downloads-panel-width-subtract)) !important;
    }

    /* downloadsbar.css:82 */
    /* down arrow icon */
    #downloadsHistory::before
    {
        right: 2px !important;
    }

    /* downloadsbar.css:108 */
    /* ... */
    @media (-moz-platform: linux)
    {
        #downloadsHistory::after
        {
            top: 4px !important;
        }
    }

    /* downloadsbar.css:196 */
    /* downloads panel close button */
    #downloadsHideButtonID::before
    {
        top: -3px !important;
        right: -3px !important;
    }
}