@import "systhemes-chromium";
& {
	//Classic (Default/Fallback)
	// Navbar
	--default-toolbarbutton-icon-drop-shadow-color: rgba(255,255,255,.7);

	@media (prefers-color-scheme: dark) {
		// Navbar
		--default-toolbarbutton-icon-drop-shadow-color: rgba(0,0,0,.7);
	}

	// Mac OS X
	&[gksystheme="macosx"],
	&[gksystheme="macos"] {
		&:not([geckium-eleven]) {
			@include macosx-src();
			// Tabs
			--default-inactive-tab-background: rgba(255, 255, 255, 0.3);
			--default-tab-glare: rgba(255, 255, 255, 0.3);
			--default-tabbrowser-tab-color: black;

			// Navbar
			--default-toolbarbutton-icon-color: black;

			// Personal Toolbar (Bookmarks)
			--default-personal-toolbar-border-bottom: rgb(103, 103, 103);
			--default-bookmark-item-color: black;
			&:-moz-window-inactive {
				--default-personal-toolbar-border-bottom: rgb(123, 123, 123);
			}

			@media (prefers-color-scheme: dark) {
				// Tabs
				--default-inactive-tab-background: rgba(0, 0, 0, 0.15);
				--default-selected-tab-background: linear-gradient(
					to bottom,
					#{gtmColorAdjForDark("GTMColorationLightHighlight", rgb(48, 48, 48))},
					#{gtmColorAdjForDark("GTMColorationLightMidtone", rgb(48, 48, 48))}
				);
				--default-tab-glare: rgba(255, 255, 255, 0.075);
				--default-tabbrowser-tab-color: white;

				// Navbar
				--default-nav-bar: linear-gradient(
					to bottom,
					#{gtmColorAdjForDark("GTMColorationLightMidtone", rgb(48, 48, 48))},
					#{gtmColorAdjForDark("GTMColorationLightShadow", rgb(48, 48, 48))}
				);
				--default-toolbarbutton-border-color-normal: color-mix(in srgb, #{gtmColorAdjForDark("GTMColorationDarkShadow", rgb(48, 48, 48))} 30%, transparent);
				--default-toolbarbutton-border-color-hot: rgb(112, 112, 112); //TODO
				--default-toolbarbutton-border-color-active: rgb(136, 136, 136); //TODO
				--default-toolbarbutton-inner-border-color-normal: color-mix(in srgb, white 16%, transparent);
				--default-toolbarbutton-inner-border-color-hot: rgba(255, 255, 255, 0.2); //TODO
				--default-toolbarbutton-texture: linear-gradient(
					to top,
					transparent,
					rgba(255, 255, 255, 0.075)
				);
				--default-toolbarbutton-icon-drop-shadow-color: transparent;
				--default-navigation-buttons-separator: color-mix(in srgb, color-mix(in srgb, black 30%, rgb(64, 64, 64)) 30%, transparent);
				&:-moz-window-inactive {
					--default-toolbarbutton-border-color-normal: color-mix(in srgb, color-mix(in srgb, black 23%, rgb(64, 64, 64)) 30%, transparent);
				}
				--default-toolbarbutton-icon-color: white;

				// Personal Toolbar (Bookmarks)
				--default-personal-toolbar: linear-gradient(
					to bottom,
					#{gtmColorAdjForDark("GTMColorationLightShadow", rgb(48, 48, 48))},
					#{gtmColorAdjForDark("GTMColorationLightPenumbra", rgb(48, 48, 48))}
				);
				--default-personal-toolbar-border-bottom: rgb(103, 103, 103);
				--default-bookmark-item-color: white;
				&:-moz-window-inactive {
					--default-personal-toolbar-border-bottom: rgb(83, 83, 83);
				}
			}
		}
		&:not([geckium-twentyone]) {
			// Personal Toolbar (Bookmarks)
			--default-personal-toolbar-floating: #ebebeb;
			--default-personal-toolbar-floating-border: #d2d2d2;

			@media (prefers-color-scheme: dark) {
				// Personal Toolbar (Bookmarks)
				--default-personal-toolbar-floating: #535353;
				--default-personal-toolbar-floating-border: #3B3B3B;
			}
		}
	}
}