& {
	--titlebar-buttonbox-gap: 2px;
	
	--titlebar-button-outer-border: 1px solid var(--titlebar-button-outer-border-color);
	--titlebar-button-outer-border-color: rgba(0,0,0,.17);
	--titlebar-button-inner-border: inset 0 0 0 1px var(--titlebar-button-inner-border-color);
	--titlebar-button-inner-border-color: rgba(255,255,255,.25);
	--titlebar-button-inner-border-hot: inset 0 0 0 1px var(--titlebar-button-inner-border-color-hot);
	--titlebar-button-inner-border-color-hot: rgba(255,255,255,.49);
	--titlebar-button-inner-border-active: inset 0 0 0 1px var(--titlebar-button-inner-border-color-active);
	--titlebar-button-inner-border-color-active: rgba(255,255,255,.25);
	--titlebar-button-height: 18px;
	--titlebar-button-background-hot: transparent;
	--titlebar-button-background-active: rgba(0,0,0,.2);

	--titlebar-close-width: 24px;
	--titlebar-close-background-hot: var(--titlebar-button-background-hot);
	--titlebar-close-background-active: var(--titlebar-button-background-active);
	--titlebar-close-glyph: url(assets/img/titlebar/linux/close.svg);

	--titlebar-max-restore-width: var(--titlebar-close-width);
	--titlebar-max-restore-background-hot: var(--titlebar-button-background-hot);
	--titlebar-max-restore-background-active: var(--titlebar-button-background-active);
	--titlebar-max-glyph: url(assets/img/titlebar/linux/maximize.svg);
	--titlebar-restore-glyph: url(assets/img/titlebar/linux/restore.svg);

	--titlebar-min-width: var(--titlebar-close-width);
	--titlebar-min-glyph: url(assets/img/titlebar/linux/minimize.svg);

	&:not([customthememode="1"]) {
		&:-moz-lwtheme {
			&:not([lwtheme-id*="firefox-compact"], [lwtheme-id*="compact-light"]) {
				&:not([lwtheme-id="#{$gtkplus}"]) {
					--titlebar-buttonbox-background-color: var(--toolbar-bgcolor, var(--lwt-accent-color));
	
					// Themes without image header/additional images
					&:not([style*="--lwt-additional-images"]) {
						&:not([style*="--lwt-header-image"]) {
							--titlebar-buttonbox-background-color: transparent;
						}
					}
				}
			}
		}
	}
	&[lwtheme-id*="firefox-compact-light"][chrtheme="true"] {
		--titlebar-buttonbox-background-color: var(--chrt-control-background, var(--chrt-button-background, transparent)) !important;
	}
}

.titlebar-buttonbox-container {
	margin-inline-end: 1px;

	@media not (-moz-platform: linux) {
		margin-inline-end: 2px;
	}
}

.titlebar-buttonbox {
	margin-block-start: 1px;
	margin-inline-end: 0;
	box-shadow: none;
	background: transparent !important;

	@media (-moz-platform: linux) {
		margin-block-start: 0;

		@media (-moz-gtk-csd-reversed-placement) {
			margin-inline-start: 3px !important;
		}
	}
}

&[sizemode="maximized"] {
	.titlebar-buttonbox {
		margin-block-start: 2px;

		@media (-moz-platform: linux) {
			margin-block-start: 1px;
		}
	}
}

.titlebar-button {
	box-shadow: none;
	border-radius: 2.5px !important;
	border: var(--titlebar-button-outer-border) !important;
	box-shadow: var(--titlebar-button-inner-border);
	transition: none;

	&:not([disabled]) {
		&:hover {
			box-shadow: var(--titlebar-button-inner-border-hot);
		}
		&:active {
			box-shadow: var(--titlebar-button-inner-border-active);
		}
	}
}

@media (-moz-platform: linux) {
	@media not (-moz-gtk-csd-maximize-button) {
		.titlebar-max,
		.titlebar-restore {
			display: none !important;
		}
	}
}

.titlebar-min {
	@media (-moz-platform: linux) {
		@media not (-moz-gtk-csd-minimize-button) {
			display: none !important;
		}
	}
}

@media (-moz-platform: linux) {
	@media (-moz-gtk-csd-reversed-placement) {
		.titlebar-close {
			border-top-left-radius: 4.5px !important;

			&::before {
				border-top-left-radius: 4.5px !important;
			}
		}
	}
	@media not (-moz-gtk-csd-reversed-placement) {
		.titlebar-close {
			border-top-right-radius: 4.5px !important;

			&::before {
				border-top-right-radius: 4.5px !important;
			}
		}
	}
}

@media not (-moz-platform: linux) {
	.titlebar-close {
		border-top-right-radius: 4.5px !important;

		&::before {
			border-top-right-radius: 4.5px !important;
		}
	}
}