& {
	--titlebar-buttonbox-gap: 2px;
	
	--titlebar-button-border-radius: 2.5px;
	--titlebar-button-border-radius-bigger: var(--titlebar-button-border-radius);
	--titlebar-button-outer-border: 1px solid var(--titlebar-button-outer-border-color-normal);
	--titlebar-button-outer-border-color-normal: rgba(25,25,25,.52);
	--titlebar-button-outer-border-color-hot: rgba(26,26,26,.77);
	--titlebar-button-outer-border-color-active: rgba(0,0,0,.61);
	--titlebar-button-inner-border: inset 0 0 0 1px var(--titlebar-button-inner-border-color);
	--titlebar-button-inner-border-color: rgba(255,255,240,.1);
	--titlebar-button-inner-border-hot: inset 0 0 0 1px var(--titlebar-button-inner-border-color-hot);
	--titlebar-button-inner-border-color-hot: rgba(251,251,241,.1);
	--titlebar-button-inner-border-active: inset 0 0 0 1px var(--titlebar-button-inner-border-color-active);
	--titlebar-button-inner-border-color-active: rgba(0,0,0,.1);
	--titlebar-button-height: 18px;
	--titlebar-button-background-normal: linear-gradient(
		to bottom,
		rgba(255,255,255,.23),
		rgba(209,209,209,.23)
	);
	--titlebar-button-background-hot: linear-gradient(
		to bottom,
		rgba(255,255,255,.41),
		rgba(210,210,210,.41)
	);
	--titlebar-button-background-active: linear-gradient(
		to bottom,
		rgba(42,42,42,.23),
		rgba(180,180,180,.23)
	);

	--titlebar-close-width: 23px;
	--titlebar-close-background-normal: var(--titlebar-button-background-normal);
	--titlebar-close-background-hot: var(--titlebar-button-background-hot);
	--titlebar-close-background-active: var(--titlebar-button-background-active);
	--titlebar-close-glyph: url(chrome://userchrome/content/assets/img/chrome-1/titlebar/linux/close.svg);

	--titlebar-max-restore-width: var(--titlebar-close-width);
	--titlebar-max-restore-background-normal: var(--titlebar-close-background-normal);
	--titlebar-max-restore-background-hot: var(--titlebar-close-background-hot);
	--titlebar-max-restore-background-active: var(--titlebar-close-background-active);
	--titlebar-max-glyph: url(chrome://userchrome/content/assets/img/chrome-1/titlebar/linux/maximize.svg);
	--titlebar-restore-glyph: url(chrome://userchrome/content/assets/img/chrome-1/titlebar/linux/restore.svg);

	--titlebar-min-width: var(--titlebar-close-width);
	--titlebar-min-background-normal: var(--titlebar-close-background-normal);
	--titlebar-min-background-hot: var(--titlebar-close-background-hot);
	--titlebar-min-background-active: var(--titlebar-close-background-active);
	--titlebar-min-glyph: url(chrome://userchrome/content/assets/img/chrome-1/titlebar/linux/minimize.svg);
}

.titlebar-buttonbox-container {
	margin-inline-end: 1px;

	@media not (-moz-platform: linux) {
		margin-inline-end: 2px;
	}
}
.titlebar-buttonbox {
	margin-block-start: 1px;
	margin-inline-end: 0;
	box-shadow: none;
	background: transparent !important;

	@media (-moz-platform: linux) {
		margin-block-start: 0;

		@media (-moz-gtk-csd-reversed-placement) {
			margin-inline-start: 3px !important;
		}
	}
}

&[sizemode="maximized"] {
	.titlebar-buttonbox-container {
		margin-inline-end: 2px;
	}

	.titlebar-buttonbox {
		margin-block-start: 2px;
	}
}

.titlebar-button {
	box-shadow: none;
	border: var(--titlebar-button-outer-border) !important;
	box-shadow: var(--titlebar-button-inner-border);
	transition: none;

	&:not([disabled]) {
		&:hover {
			border-color: var(--titlebar-button-outer-border-color-hot) !important;
			box-shadow: var(--titlebar-button-inner-border-hot);
		}
		&:active {
			border-color: var(--titlebar-button-outer-border-color-active) !important;
			box-shadow: var(--titlebar-button-inner-border-active);
		}
	}
}

@media (-moz-platform: linux) {
	@media not (-moz-gtk-csd-maximize-button) {
		.titlebar-max,
		.titlebar-restore {
			display: none !important;
		}
	}
}

.titlebar-min {
	@media (-moz-platform: linux) {
		@media not (-moz-gtk-csd-minimize-button) {
			display: none !important;
		}
	}
}

@media (-moz-platform: linux) {
	@media (-moz-gtk-csd-reversed-placement) {
		.titlebar-close {
			border-top-left-radius: var(--titlebar-button-border-radius-bigger) !important;

			&::before {
				border-top-left-radius: 4var(--titlebar-button-border-radius-bigger)!important;
			}
		}
	}
	@media not (-moz-gtk-csd-reversed-placement) {
		.titlebar-close {
			border-top-right-radius: var(--titlebar-button-border-radius-bigger) !important;

			&::before {
				border-top-right-radius: var(--titlebar-button-border-radius-bigger) !important;
			}
		}
	}
}

@media not (-moz-platform: linux) {
	.titlebar-close {
		border-top-right-radius: var(--titlebar-button-border-radius-bigger) !important;

		&::before {
			border-top-right-radius: var(--titlebar-button-border-radius-bigger) !important;
		}
	}
}