& {
	// Favicons
	--default-favicon:	  url("chrome://userchrome/content/assets/img/chrome-37/favicons/default_favicon.png");
	--settings-favicon:	  url("chrome://userchrome/content/assets/img/chrome-37/tabbar/favicon_settings.png");
	--extensions-favicon: url("chrome://userchrome/content/assets/img/chrome-37/tabbar/favicon_extensions.png");
}