& {
	--tab-normal-width: 191px;
	--tab-pinned-width: 36px;

	--tab-recording:		url("chrome://userchrome/content/assets/img/chrome-47/tabbar/tab_recording_indicator.svg");
	--tab-recording-size:	16px;
	--tab-capture:			url("chrome://userchrome/content/assets/img/chrome-47/tabbar/tab_capture_indicator_100.png");

	--tab-audio-indicator-margin-block-start:	1px;
	--tab-audio-indicator-size: 				16px;
	--tab-audio-indicator: 						url("chrome://userchrome/content/assets/img/chrome-47/tabbar/tab_audio_indicator.svg");
	--tab-audio-muting-indicator:				url("chrome://userchrome/content/assets/img/chrome-47/tabbar/tab_audio_muting_indicator.svg");

	--tab-close-button-margin-inline-end: -4px;

	@media not (resolution: 96dpi) {
		--tab-capture: url("chrome://userchrome/content/assets/img/chrome-47/tabbar/tab_capture_indicator_200.png");
	}
}

.tabbrowser-tab {
	&[sharing] .tab-content > .tab-sharing-icon-overlay {
		display: flex !important;
	}

	&[sharing="microphone"] .tab-content > .tab-sharing-icon-overlay {	
		margin-block-start: var(--tab-audio-indicator-margin-block-start);
		list-style-image: var(--tab-recording) !important;
		width: var(--tab-recording-size) !important;
		height: var(--tab-recording-size) !important;
	}

	&[sharing="screen"] .tab-content > .tab-sharing-icon-overlay {	
		margin-block-start: var(--tab-audio-indicator-margin-block-start);
		list-style-image: var(--tab-capture) !important;
		width: var(--tab-capture-size) !important;
		height: var(--tab-capture-size) !important;
	}

	.tab-icon-stack .tab-sharing-icon-overlay {
		display: none !important;
	}

	&[soundplaying],
	&[muted] {
		&[pinned] .tab-icon-stack {
			display: none !important;
		}
	}

	&[muted] .tab-mute-button {
		opacity: unset;
		list-style-image: var(--tab-audio-muting-indicator);
	}

	.tab-mute-button {
		position: static;
		background-image: unset;
		list-style-image: var(--tab-audio-indicator);
		animation: unset;
		margin-block-start: var(--tab-audio-indicator-margin-block-start);

		image {
			width: var(--tab-audio-indicator-size);
			height: var(--tab-audio-indicator-size);
			-moz-context-properties: fill, fill-opacity;
			fill: currentColor;
		}
	}

	&[visuallyselected][minwidthreached="true"] .tab-close-button {
		transform: translateX(-1.5px);
	}
}