& {
	--urlbar-height-definitive: 28px;
}

#identity-box {
	margin-block-start: 1px !important;
}

:not(.widget-overflow-list) {
	> .toolbarbutton-1:not(
		#gkavatar-container > #gk-firefox-account-button,
		#tabs-newtab-button,
		#new-tab-button,
		.subviewbutton
	) {
		&#go-button-box {
			width: 56px !important;
			height: var(--urlbar-height-definitive) !important;
			background: rgb(77,144,254) !important;
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
			border-top-width: 1px !important;
			border-left-width: 0px !important;
			border-right-width: 1px !important;
			border-bottom: 1px !important;
			border-color: rgb(56,115,209) !important;
			border-style: solid !important;
			list-style-image: url(chrome://userchrome/content/assets/img/chrome-47/toolbar/go.svg);
			align-items: center;
		
			&::before {
				background: linear-gradient(
					to bottom,
					transparent,
					rgb(64,132,246)
				) !important;
			}
		
			&::after {
				box-shadow: none !important;
			}
		
			&:not([disabled]) {
				&:active {
					background: rgb(62,120,217) !important;
					box-shadow: 0px 1px 0px 0px rgba(0,0,0,.05) inset !important;
				}
		
				&:hover {
					border-color: rgb(53,108,197) !important;
				}
			}
		
			#go-button {
				fill: white !important;
				filter: unset;
				width: 13px;
				height: 13px;
				z-index: 1;
			}
		}
	}
}

#urlbar-input-container,
.urlbar-input-container /* Fix for Firefox ~120+ */ {
	&[pageproxystate="invalid"] > #go-button-box {
		list-style-image: url(chrome://userchrome/content/assets/img/chrome-47/toolbar/search.svg);
	}
}

&[geckium-chrflag-search-button-in-omnibox="3"] {
	#urlbar-input-container,
	.urlbar-input-container /* Fix for Firefox ~120+ */ {
		&[pageproxystate="invalid"] #go-button-box {
			display: flex !important;
		}
	}
}

&[geckium-chrflag-search-button-in-omnibox="4"] {
	#urlbar-input-container,
	.urlbar-input-container /* Fix for Firefox ~120+ */ {
		#go-button-box {
			display: flex !important;
		}
	}
}

&:not([chromehidden~="toolbar"]) #urlbar-container:last-child {
	margin-inline-end: 1px !important;
}

#urlbar-background,
#searchbar {
	border-radius: var(--toolbarbutton-border-radius) !important;
}

#urlbar {
	font-size: 11pt !important;
}