& {
	--panel-header-color: black;
	--panel-item-background-hot: rgb(234,234,234);
	--panel-item-color-hot: rgb(6,45,117);

	@media (prefers-color-scheme: dark) {
		--panel-header-color: white;
		--panel-item-background-hot: rgb(255, 255, 255, .15);
		--panel-item-color-hot: rgb(72, 129, 236);
	}

	&[fxastatus="not_configured"]:not([profilepic="chromium"]) panel toolbarbutton {
		&.subviewbutton,
		&.toolbarbutton-1 {
			&#fxa-manage-account-button::before {
				background-size: 61px;
			}
		}
	}
}

.panel-footer {
	margin-block-start: 10px !important;
	margin-inline-end: 2px !important;
}

#PanelUI-fxa-menu > toolbarbutton.subviewbutton {
	&:last-of-type {
		margin-block-end: 1px !important;
	}

	&:not(#fxa-manage-account-button) {
		margin-inline-start: 0 !important;
		min-height: 41px !important;
		border-block-start: 1px solid var(--panel-separator-color) !important;

		&::before {
			content: "";
			width: 16px;
			height: 16px;
			margin-inline-end: 12px;
			text-align: center !important;
		}

		&#PanelUI-fxa-menu-syncnow-button::before {
			content: url(chrome://userchrome/content/assets/img/chrome-47/panel/sync.svg);
		}
		
		&#PanelUI-fxa-menu-connect-device-button::before {
			content: url(chrome://userchrome/content/assets/img/chrome-47/panel/connect-device.svg);
		}

		&#PanelUI-fxa-menu-sync-prefs-button::before {
			content: url(chrome://userchrome/content/assets/img/chrome-47/panel/sync-settings.svg);
		}

		&#PanelUI-fxa-menu-account-signout-button::before {
			content: url(chrome://userchrome/content/assets/img/chrome-47/panel/sign-out.svg);
		}
	}
}

panel toolbarbutton {
	&.subviewbutton,
	&.toolbarbutton-1 {
		padding-inline: 22px !important;
		
		&:hover {
			color: var(--panel-item-color-hot) !important;
		}
	
		&#fxa-manage-account-button {
			position: relative;
			flex-direction: column !important;
			padding-block: 20px !important;
	
			&::before {
				border-radius: 50%;
				background-color: rgb(222,222,222);
				min-width: 88px;
				min-height: 88px;
				margin-block-end: 16px;
				margin-inline-end: 0 !important;
			}
	
			&:hover #fxa-menu-header-title {
				color: var(--panel-item-color-hot) !important;
			}
	
			> vbox {
				align-items: center !important;
	
				#fxa-menu-header-title {
					color: FieldText !important;
				}
	
				#fxa-menu-header-description {
					font-weight: normal !important;
					font-size: 11pt !important;
				}
			}
		}
	}
}