& {
    .gkpeople-titlebar {
        --themed-titlebutton-border-outer: 1px solid rgb(0, 0, 0, 0.35);
        --themed-titlebutton-corner: 3.5px;

        background: unset !important;
        border-radius: 0 !important;
        display: flex !important;
        border-left: var(--themed-titlebutton-border-outer) !important;
        border-bottom: var(--themed-titlebutton-border-outer) !important;
        min-width: 25px;
        height: 17px;
        box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.3);
        border-right: var(--themed-titlebutton-border-outer) !important;
        border-bottom-left-radius: var(--themed-titlebutton-corner) !important; // because border-radius is !important
        border-bottom-right-radius: var(--themed-titlebutton-corner) !important; // because border-radius is !important
        transition: background-color 100ms linear; //hover-fade animation

        // Hover and pressed states
        &:not([disabled]):hover {
            background-color: rgba(255, 255, 255, 0.3) !important;

            &:active {
                background-color: rgba(255, 255, 255, 0.2) !important;
                box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
                transition: none;
            }
        }

        .toolbarbutton-text {
            --stroke-color: #525566;
            color: white !important;
            font-size: 8pt;
            margin-inline: 8px !important;

            text-shadow:	1px		1px		0	var(--stroke-color),
                            1px		-1px	0	var(--stroke-color),
                            -1px	1px		0	var(--stroke-color),
                            -1px	-1px	0	var(--stroke-color),
                            1px		0px		0	var(--stroke-color),
                            0px		1px		0	var(--stroke-color),
                            -1px	0px		0	var(--stroke-color),
                            0px		-1px	0	var(--stroke-color),
        }

        image { // Set the icon's opacity and hover-fade
            opacity: .6 !important;
            transition: opacity 100ms linear;
        }

        &:-moz-locale-dir(rtl) {
            box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, 0.3);

            &:not([disabled]):hover:active {
                box-shadow: inset -1px 1px 0px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }
}