& {
	--titlebar-border-radius: 0;
	@media (-moz-platform: macos) {
		--titlebar-border-radius: 10px; //Artificial minimum radii set by macOS's window manager (+the 1px border)
	}
	// TODO: In MD2, disable these below --tab-distance-from-top variable changes
	--tab-distance-from-top: 20px;
	&[sizemode="maximized"],
	&[sizemode="fullscreen"] {
		--tab-distance-from-top: 0px;
	}
}

// Change offsets for Incognito/pfp when window's maximised
&[sizemode="maximized"],
&[sizemode="fullscreen"] {
	#people-tabs-space > #gk-firefox-account-button,
	#private-browsing-indicator-with-label {
		height: calc(var(--tab-height) - 9px);

		.toolbarbutton-badge-stack,
		.private-browsing-indicator-icon {
			margin-block-end: -4px; //offset for maximised window
		}
	}
}

&[gktitnative="false"] {
	@import "../base";
	--titlebar-box-shadow: none;
}
@import "win10-mpl";