& { // TODO: Somewhat exclude in MD2
	
	//Shared titlebar button code
	.titlebar-button {
		background: transparent !important;
		//Hover and pressed states
		&:not([disabled]):hover {
			background: rgba(20, 20, 23, 0.078) !important;
		}
		&:not([disabled]):hover:active {
			background: rgba(20, 20, 23, 0.141) !important;
		}
		height: 36px;
		width: 32px;
		color: inherit !important;

        .toolbarbutton-icon {
			height: 12px !important;
			width: 12px !important;
            -moz-context-properties: fill, fill-opacity !important;
			fill: currentColor !important;
        }
	}
	// Decrease button height when maximised
	&[sizemode="maximized"],
	&[sizemode="fullscreen"] {
		.titlebar-button {
			height: 28px;
		}
	}

	//Close button
	.titlebar-close {
		list-style-image: url(chrome://userchrome/content/assets/img/chrome-68/titlebar/cros/close.svg) !important;
		border-top-right-radius: unset !important;
	}
	&:-moz-locale-dir(rtl) {
		.titlebar-close {
			border-top-right-radius: unset !important;
		}
	}

	//Maximise and Restore buttons
	.titlebar-max {
		list-style-image: url(chrome://userchrome/content/assets/img/chrome-68/titlebar/cros/maximise.svg) !important;
	}
	.titlebar-restore {
		list-style-image: url(chrome://userchrome/content/assets/img/chrome-68/titlebar/cros/restore.svg) !important;
	}

	//Minimise button
	.titlebar-min {
		list-style-image: url(chrome://userchrome/content/assets/img/chrome-68/titlebar/cros/minimise.svg) !important;
	}
}