& {
	--tab-glare-opacity: .2;
	--tab-glare-color: white;
	--tab-glare: linear-gradient(
		90deg,
		color-mix(
			in srgb,
			var(--tab-glare-color) 40%,
			transparent
		) 30%,
		var(--tab-glare-color) 50%,
		color-mix(
			in srgb,
			var(--tab-glare-color) 40%,
			transparent
		) 70%
	);
	--tab-glare-unhover-timer: .5s;

	&[customthemecolorizetabglare="true"] {
		/* bruni: This entire code takes care of custom themes support for tabs */

		// Custom theme support
		// lwtheme
		&[lwtheme] {
			&:not([lwtheme-id*="default-theme"], [lwtheme-id*="compact-light"]) {
				&:not([lwtheme-id*="firefox-compact"], [lwtheme-id*="compact-light"]) {
					&[lwtheme-id*="{"],
					&[lwtheme-id*="@mozilla.org"] {
						&:not([lwtheme-id="#{$gtkplus}"]) {
							--tab-glare-color: var(--tabbrowser-tab-color);
							--tab-glare-opacity: .5;
						}
					}
				}
			}
		}
	}

	// else if chrtheme
	&[lwtheme-id*="firefox-compact-light"][chrtheme="true"] {
		--tab-glare-opacity: .1 !important;
	}
}