& {
	--back-button-icon:		url("chrome://userchrome/content/assets/img/chrome-11/toolbar/back.svg");
	--forward-button-icon:	url("chrome://userchrome/content/assets/img/chrome-11/toolbar/forward.svg");
	--reload-button-icon:	url("chrome://userchrome/content/assets/img/chrome-11/toolbar/reload.svg");
	--stop-button-icon:		url("chrome://userchrome/content/assets/img/chrome-11/toolbar/stop.svg");
	--home-button-icon:		url("chrome://userchrome/content/assets/img/chrome-11/toolbar/home.svg");

	--star-button-icon-normal:	url("chrome://userchrome/content/assets/img/chrome-11/toolbar/star.svg");
	--star-button-icon-starred:	url("chrome://userchrome/content/assets/img/chrome-11/toolbar/starred.svg");

	--nav-bar-overflow-button-icon:		url("chrome://userchrome/content/assets/img/chrome-11/toolbar/overflow.svg");
	--bookmarks-menu-button-icon:		url("chrome://userchrome/content/assets/img/chrome-11/toolbar/menu_bookmark.svg");
	--unified-extensions-button-icon:	url("chrome://userchrome/content/assets/img/chrome-11/toolbar/menu_plugin.svg");
	--page-button-icon:					url("chrome://userchrome/content/assets/img/chrome-11/toolbar/menu_page.svg");
	--chrome-button-icon:				url("chrome://userchrome/content/assets/img/chrome-11/toolbar/menu_chrome.svg")
}