& {
	--identity-icon-secure-or-ev: 		 url("chrome://userchrome/content/assets/img/chrome-11/toolbar/omnibox_https_valid.png");
	--identity-icon-warning-or-insecure: url("chrome://userchrome/content/assets/img/chrome-11/toolbar/omnibox_https_invalid.png");
	--identity-icon-valid-n-notSecure:	 url("chrome://userchrome/content/assets/img/chrome-11/toolbar/omnibox_https_warning.png");

	#nav-bar {
		#identity-box[pageproxystate="valid"].notSecure #identity-icon {
			list-style-image: url(chrome://userchrome/content/assets/img/chrome-11/toolbar/omnibox_http.png) !important;
		}

		&[securestate="ev"] {
			#identity-icon-box {
				margin-block-start: 0;
			}
		}
	}

	#urlbar-background {
		box-shadow: 0 1px 0 0 rgb(255, 255, 255, 20%) !important;
	}

	&:not([chromehidden~="toolbar"]) {
		#urlbar-container {
			margin-inline-start: 3px !important;

			&:not(:last-child) {
				margin-inline-end: 3px !important;
			}
		}
	}

	.urlbarView-row {
		&:not([selected]) {
			.urlbarView-url {
				color: #4c9817 !important;
			}
		}
	}
}
