:root {
	--newtab-background-color: white;

	@media (prefers-color-scheme: dark) {
		--newtab-background-color: rgb(32, 32, 32);
	}

	&[data-url*="about:apps"] {
		#page-list {
			transform: unset !important;
		}

		#most-visited-page,
		[id*="page-switcher"],
		.dot,
		#recently-closed-menu-button,
		#recently-closed-menu-button + #vertical-separator {
			display: none !important;
		}
	}

	body {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	
	#main-container {
		flex: 1;
		height: 100vh;
	}

	.favicon,
	.mv-favicon {
		width: 16px;
		height: 16px;
	}

	&:not([geckium-one]) {
		* {
			visibility: hidden;
		}
	}

	&[geckium-one] {
		@import "partials/chrome-1/final";
	}

	&[geckium-one][geckium-two] {
		@import "partials/chrome-2/final";
	}

	&[geckium-one][geckium-two][geckium-three] {
		@import "partials/chrome-3/final";
	}

	&[geckium-one][geckium-two][geckium-three][geckium-four] {
		@import "partials/chrome-4/final";
	}

	&[geckium-one][geckium-two][geckium-three][geckium-four][geckium-five] {
		@import "partials/chrome-5/final";
	}

	&[geckium-one][geckium-two][geckium-three][geckium-four][geckium-five][geckium-six] {
		@import "partials/chrome-6/final";
	}

	&[geckium-one][geckium-two][geckium-three][geckium-four][geckium-five][geckium-six][geckium-eleven] {
		@import "partials/chrome-11/final";
	}

	&[geckium-one][geckium-two][geckium-three][geckium-four][geckium-five][geckium-six][geckium-eleven][geckium-twentyone] {
		@import "partials/chrome-21/final";
	}

	&[geckium-one][geckium-two][geckium-three][geckium-four][geckium-five][geckium-six][geckium-eleven][geckium-twentyone][geckium-twentyfive] {
		@import "partials/chrome-25/final";
	}

	&[geckium-one][geckium-two][geckium-three][geckium-four][geckium-five][geckium-six][geckium-eleven][geckium-twentyone][geckium-twentyfive][geckium-fortyseven] {
		@import "partials/chrome-47/final";
	}

	&[geckium-one][geckium-two][geckium-three][geckium-four][geckium-five][geckium-six][geckium-eleven][geckium-twentyone][geckium-twentyfive][geckium-fortyseven][geckium-sixtyeight] {
		@import "partials/chrome-68/final";
	}
}