#navigator-toolbox,
#titlebar {
    background: unset !important;
	box-shadow: none !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
    padding-top: 0 !important;

	&[fullscreenShouldAnimate] {
		transition: none !important;
	}
}

// Visuals
&[windowtype="navigator:browser"] > body {
    background: var(--titlebar-active, var(--default-titlebar-active));
    &:-moz-window-inactive {
        background: var(--titlebar-inactive, var(--default-titlebar-inactive));
    }
    border-radius: var(--titlebar-border-radius) var(--titlebar-border-radius) 0 0;
    box-shadow: var(--titlebar-box-shadow);
    position: relative;
	background-clip: padding-box;

    &::before {
        content: "";
        top: var(--bodytitlebar-pseudo-gap);
        left: var(--bodytitlebar-pseudo-gap);
        position: absolute;
        width: calc(100% - var(--bodytitlebar-pseudo-gap) - var(--bodytitlebar-pseudo-gap));
        height: var(--bodytitlebar-pseudo-height);
        border-radius: calc(var(--titlebar-border-radius) - var(--bodytitlebar-pseudo-gap)) calc(var(--titlebar-border-radius) - var(--bodytitlebar-pseudo-gap)) 0 0;
        background: var(--titlebar-pseudo-texture);
        background-position: var(--titlebar-pseudo-texture-pos);
        background-repeat: var(--titlebar-pseudo-texture-repeat);
        background-position-y: var(--titlebar-pseudo-texture-ypos);
    }
}
&[gkthemed][gkchrthemehasframe][windowtype="navigator:browser"] > body::before {
    box-shadow: var(--titlebar-box-shadow);
}
&[gkthemed][gkchrthemed]:-moz-window-inactive {
    &[windowtype="navigator:browser"] > body::before {
        filter: contrast(.5) brightness(1.4);
    }
}