:root {
	&[geckium-choice="one"],
	&[geckium-choice="three"],
	&[geckium-choice="four"],
	&[geckium-choice="five"],
	&[geckium-choice="six"],
	&[geckium-choice="eleven"],
	&[geckium-choice="twentyone"],
	&[geckium-choice="twentyfive"] {
		/* .control-button - Picture-in-Picture buttons. */
		button:not(.control-button, .menuitem-button) {
			appearance: button !important;

			color: -moz-dialog-color !important;

			@media (prefers-color-scheme: dark) {
				color: white !important;
			}
		}
	}
}