:root {
	--content-border-width: 			3px;
	--content-border-top-left-image: 	url("chrome://userchrome/content/assets/img/chrome-5/toolbar/content_top_left_corner.png");
	--content-border-top-image:			url("chrome://userchrome/content/assets/img/chrome-5/tabbar/tabstoolbar_shadow_modified.png");
	--content-border-top-right-image: 	url("chrome://userchrome/content/assets/img/chrome-5/toolbar/content_top_right_corner.png");
	--content-border-left-image: 		url("chrome://userchrome/content/assets/img/chrome-5/toolbar/content_bookmark_left.png");
	--content-border-right-image: 		url("chrome://userchrome/content/assets/img/chrome-5/toolbar/content_bookmark_right.png");

	&[sizemode="maximized"],
	&[sizemode="fullscreen"] {
		#tabbrowser-tabbox {
			&::after {
				content: unset;
			}
		}

		#nav-bar,
		#PersonalToolbar,
		#browser,
		#customization-container,
		.notificationbox-stack,
		#appcontent {
			&::before,
			&::after {
				content: unset;
			}
		}

		.notificationbox-stack {
			width: 100% !important;
		}
	}
}

#tabbrowser-tabbox {
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		bottom: calc(var(--content-border-width) * -1);
		height: var(--content-border-width);
		background: var(--content-border-top-image) bottom;
		transform: scaleY(-100%);
	}
}


#nav-bar,
#PersonalToolbar,
#browser,
#customization-container,
.notificationbox-stack {
	margin-inline: calc(var(--content-border-width) - 1px);
}

#browser,
#customization-container {
	margin-block-end: calc(var(--content-border-width) - 1px);
}


#nav-bar,
#PersonalToolbar,
#browser,
#customization-container,
.notificationbox-stack {
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: var(--content-border-width);
		height: 100%;
	}
}

#nav-bar,
#PersonalToolbar,
.notificationbox-stack {
	&::before {
		left: calc(var(--content-border-width) * -1 + 1px);
	}
}

#nav-bar,
#PersonalToolbar,
.notificationbox-stack {
	&::after {
		right: calc(var(--content-border-width) * -1 + 1px);
	}
}

#browser,
#customization-container {
	&::before {
		left: calc(var(--content-border-width) * -1);
	}
}

#browser,
#customization-container {
	&::after {
		right: calc(var(--content-border-width) * -1);
	}
}

#nav-bar {
	&::before,
	&::after {
		top: calc(var(--content-border-width) * -1);
		height: calc(var(--nav-bar-height) + 3px);
	}

	&::before {
		background: var(--content-border-top-left-image);
	}

	&::after {
		background: var(--content-border-top-right-image);
	}
}

#PersonalToolbar,
#browser,
#customization-container,
.notificationbox-stack {
	&::before {
		background: var(--content-border-left-image);
	}
}

#PersonalToolbar,
#browser,
#customization-container,
.notificationbox-stack {
	&::after {
		background: var(--content-border-right-image);
	}
}

#PersonalToolbar,
#browser,
#customization-container,
.notificationbox-stack {
	&::before,
	&::after {
		top: 0;
	}
}

.notificationbox-stack {
	width: calc(100% - ((var(--content-border-width) - 1) * 2)px) !important;
}

#appcontent {
	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: calc(var(--content-border-width) * -1);
		transform: scaleY(-100%);
		width: var(--content-border-width);
		height: var(--content-border-width);
	}

	&::before {
		left: calc(var(--content-border-width) * -1);
		background: var(--content-border-top-left-image) top left;
	}

	&::after {
		right: calc(var(--content-border-width) * -1);
		background: var(--content-border-top-right-image) top right;
	}
}