:root {
	// Let's hide the downloads button if the Shelf isn't disabled.
	&[downloadshelf="true"]	{
		#downloads-button,
		#wrapper-downloads-button {
			display: none !important;
		}
	}
}

toolbarpaletteitem {
	&[place="palette"] {
		justify-content: center;
		align-items: center;
	}

	> toolbarspring {
		outline-color: var(--toolbarbutton-icon-color, var(--default-toolbarbutton-icon-color)) !important;
		height: var(--toolbarbutton-height);
	}
}

// We have our own `#gk-firefox-account-button`.
#wrapper-fxa-toolbar-menu-button {
    display: none !important;
}

#customization-footer {
	border-top: 0 !important;
	padding-block-start: 10px !important;
	padding-block-end: 19px !important;
	padding-inline: 21px !important;
	gap: 10px !important;

	button {
		min-width: 0 !important;
		margin: 0 !important;
	}
}

#customization-uidensity-button,
#customization-reset-button {
	display: none !important;
}