/* bruni: We are changing the favicon of about pages like
		this so we can have era-specific icons. */
:root {
	--settings-favicon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowRTQ4M0ZCMTQzQzNERTExQjUwRkNEQ0U3OTMwMjg4QSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1NDc4RTBCNEI5RUQxMURGOUU0RUYxRUVCRDVBOENBMyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1NDc4RTBCM0I5RUQxMURGOUU0RUYxRUVCRDVBOENBMyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjA3ODAxMTc0MDcyMDY4MTE4RjYyODMyODlDREE3NTRGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjBFNDgzRkIxNDNDM0RFMTFCNTBGQ0RDRTc5MzAyODhBIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+kYXrhgAAArlJREFUeNp8U0tIVUEY/mbOnHPuuVoIUt4S09RatSq4IAYFgW3ahYskgqJy00MITdr1cCNteixqodLOdQ8qSshNgdIqpIcKcsMyXQiV13vvOTOnb+aatGru/c+cx/zffN/3/yN2HTh/SPlqWCmVl9KDECnS1IYBUmH/G4M3Kdw3Y8yU1snAwtSDSeUpNZ6Jsrkwk4HypVukdYzUaNgHAUkQAltweHyT8rvOx+XyOBfsUMr3c5lshCibxeH8Xpw63oH25gb8/L2OJ6+mcXf0OZMlpAoYijkShuykp3KWl/Q8CV/58DyF+a8r+PZjFdqkiDIhuo914saVbuikSDIx5QkH4nG98gMnTFZ1Wb0ai0sruDr0CI9fvrM6SdWgM78PTblaVMprSColgiVO5t8hq6Zo9J/rQugLxJV1RKHvWCQWhBF4hgBFJHEFRicO3MqwQ9ESB9Cxfw+OHBzAp9kC2nc3ut1tsrFAFSYTwFMRhBeQgHQgVQac7cPTifcuqa1lp5sTbTbnS70nyS4luyLipARDGUY7HYISKIkg98Ze4M3bD/8k6825tbUZt2/2IfT4rkSQuORKbQmI9o4Lac3WLVBK0qB1NDXUIlRV2hd7e9DGZCvDxux8AYO3RlBByL0DfJwYzshqp/EiWR4/QuH7L8zML2Nmbhl91+7g8+yC88JGS3MjTvd0IaYfhoZyBM6DlCjSAtAklalFENUhqKlHjAj91x/iy1xhw1CDbfV10Ex25QRTbDlS9xN02Het6wnOXkjQEJW4iMGhEZw5cRTbmfx6cpqEeUbgqiBUqs0i0Ru1dZM7CMG2JUDK3peBRzDpeuD+6DM6H7sSSpaS6UsE0Iqn6iwPxhgl5IyfVk+cxbfMjA0yk/Yc2P1ity+XrJTXVi/zNhb4/xCu3dlw1jCreeOdPaq2jvEfAQYA71p79KNYdqUAAAAASUVORK5CYII=");
	--extensions-favicon: url("chrome://userchrome/content/assets/img/chrome-5/tabbar/plugin.png");
}

.tabbrowser-tab {
	&[image="chrome://global/skin/icons/settings.svg"],
	&[image="chrome://mozapps/skin/extensions/extension.svg"] {
		.tab-throbber,
		.tab-icon-pending,
		.tab-icon-image  {
			display: none;
		}
	}

	&:not([pinned]) {
		&[image="chrome://branding/content/icon32.png"] {
			.tab-throbber,
			.tab-icon-pending,
			.tab-icon-image {
				display: none;
			}
		}
	}

	&:not([image]) {
		.tab-icon-stack {
			display: none;
		}
	}

	&[image="chrome://global/skin/icons/settings.svg"] {
		.tab-icon-stack {
			&::before {
				content: var(--settings-favicon);
			}
		}
	}
	&[image="chrome://mozapps/skin/extensions/extension.svg"] {
		.tab-icon-stack {
			&::before {
				content: var(--extensions-favicon);
			}
		}
	}
}