// Custom menubar for non-native titlebars
:root[gktitnative="false"] {
	#main-menubar > menu {
		&[_moz-menuactive] {
			background-color: transparent !important;
			color: inherit !important;
		}
		&[open] {
			background-color: AccentColor !important;
			color: AccentColorText !important;
		}
	}
}


// Hide menu items that weren't yet introduced
#menu_find6,
#menu_savePage6,
#menu_print6,
#tools6-menu,
#menu_settings6,
#bookmarks-menu {
	display: none;
}

menupopup {
	// Hide menu items' buttons as they weren't yet introduced
	> .menuitemitems,
	> .menuitemitems + menuseparator {
		display: none !important;
	}


	// Standard menus (right-click, menubar, etc.)
	button {
		min-width: 0 !important;
	}

	> menu,
	> menuitem {
	&[disabled] {
			pointer-events: none;
		}

		.menu-text {
			margin-inline-end: 48px !important;
		}
	}
	
	#context-sep-navigation {
		margin-left: 0 !important;
	}


	// Force top menu items to show as regular menu items
	&#contentAreaContextMenu {
		#context-navigation {
			background-color: transparent !important;
			flex-direction: column !important;

			> menuitem {
				justify-content: unset !important;
				
				&::after {
					content: attr(aria-label);
					margin-inline-start: 5px !important; // 21px (menu.css:82, Firefox 115) - 16px
					appearance: menuitemtext !important;
					white-space: nowrap;
				}
			}
		}
	}


	// Tweak Linux's menu styling to look more native
	@media (-moz-platform: linux) {
		--panel-background: Field !important;
		--panel-color: FieldText !important;
		--panel-border-color: ThreeDShadow !important;
		--panel-border-radius: 0 !important;
		--panel-padding-block: 0 !important;

		&#contentAreaContextMenu {
			#context-navigation {
				.menu-iconic-left image {
					//height: 16px !important;
					width: 16px !important;
					margin: unset !important;
				}

				// Menu icons for top items
				#context-back {
					list-style-image: url(moz-icon://stock/go-previous?size=menu) !important;
				}
				#context-forward {
					list-style-image: url(moz-icon://stock/go-next?size=menu) !important;
				}
				#context-reload {
					list-style-image: url(moz-icon://stock/view-refresh?size=menu) !important;
				}
				#context-stop {
					list-style-image: url(moz-icon://stock/process-stop?size=menu) !important;
				}
				#context-bookmarkpage {
					list-style-image: unset !important;
				}
			}
		}
			
		// Menu icons for other items
		&#contentAreaContextMenu:not(#context-navigation) menuitem,
		&:not(#contentAreaContextMenu) menuitem {
			-moz-context-properties: fill, fill-opacity, stroke !important;
			fill: currentColor !important;
			stroke: currentColor;
			background-size: 16px !important;
			background-repeat: no-repeat !important;
			background-position: left 6px center !important;
		}

		#context-openlinkintab,
		#placesContext_open\:newtab {
			background-image: url(moz-icon://stock/document-new?size=menu);
		}
		#placesContext_show_bookmark\:info,
		#placesContext_show\:info,
		#placesContext_show_folder\:info {
			background-image: url(moz-icon://stock/gtk-edit?size=menu);
		}
		#context-savelink,
		#context-saveimage,
		#context-video-saveimage,
		#context-savevideo,
		#context-saveaudio,
		#context-savepage {
			background-image: url(moz-icon://stock/document-save?size=menu);
		}
		#context-undo {
			background-image: url(moz-icon://stock/edit-undo?size=menu);
		}
		#context-redo {
			background-image: url(moz-icon://stock/edit-redo?size=menu);
		}
		#context-cut,
		#placesContext_cut {
			background-image: url(moz-icon://stock/edit-cut?size=menu);
		}
		#context-copyemail,
		#context-copyphone,
		#context-copylink,
		#context-copyimage,
		#context-copyvideourl,
		#context-copyaudiourl,
		#context-copy,
		#placesContext_copy {
			background-image: url(moz-icon://stock/edit-copy?size=menu);
		}
		#context-paste,
		#placesContext_paste_group,
		#placesContext_paste {
			background-image: url(moz-icon://stock/edit-paste?size=menu);
		}
		#context-delete,
		#placesContext_deleteBookmark,
		#placesContext_deleteFolder {
			background-image: url(moz-icon://stock/edit-delete?size=menu);
		}
		#context-print-selection {
			background-image: url(moz-icon://stock/document-print?size=menu);
		}
		#context-inspect {
			background-image: url(moz-icon://stock/document-properties?size=menu);
		}
		#placesContext_new\:bookmark,
		#placesContext_createBookmark {
			background-image: url(moz-icon://stock/list-add?size=menu);
		}
		#placesContext_new\:folder {
			background-image: url(moz-icon://stock/folder?size=menu);
		}
	}
}



// Popover menus (toolbar items, etc.)


// menupopup {
// 	&#contentAreaContextMenu {
// 		#context-navigation {	
// 			> menuitem {
// 				justify-content: unset !important;
	
// 				@media (-moz-windows-classic) {
// 					min-height: 19px !important;
// 					height: 19px !important;
// 					min-height: 19px !important;
// 				}
				
// 				&::after {
// 					content: attr(aria-label);
// 					margin-inline-start: 2px !important;
// 					appearance: menuitemtext !important;
// 					white-space: nowrap;

// 					@media (-moz-platform: linux) {
// 						margin-inline-start: 21px !important;
// 					}
	
// 					@media (-moz-windows-classic) {
// 						padding-inline-start: 1.45em !important;
// 					}
// 				}
	
// 				.menu-iconic-left {
// 					display: none !important;
// 				}
// 			}
// 		}
		
// 	}

// 	
// }