// Custom menubar for non-native titlebars
:root[gktitnative="false"] {
	#main-menubar > menu {
		&[_moz-menuactive] {
			background-color: transparent !important;
			color: inherit !important;
		}
		&[open] {
			background-color: AccentColor !important;
			color: AccentColorText !important;
		}
	}
}


// Hide menu items that weren't yet introduced
#menu_find6,
#menu_savePage6,
#menu_print6,
#tools6-menu,
#menu_settings6,
#bookmarks-menu {
	display: none;
}

// Hide "Update Geckium" placeholder menu item unless Geckium's outdated
:root:not([gkcanupdate]) {
	#menu_newVersion {
		display: none;
	}
}

menupopup {
	// Hide menu items' buttons as they weren't yet introduced
	> .menuitemitems,
	> .menuitemitems + menuseparator {
		display: none !important;
	}


	// Standard menus (right-click, menubar, etc.)
	button {
		min-width: 0 !important;
	}

	> menu,
	> menuitem {
		&[disabled] {
			pointer-events: none;
		}

		.menu-text {
			margin-inline-end: 48px !important;
		}
	}
	
	#context-sep-navigation {
		margin-left: 0 !important;
	}


	// Force top menu items to show as regular menu items, and hide their icons
	&#contentAreaContextMenu {
		#context-navigation {
			background-color: transparent !important;
			flex-direction: column !important;

			.menu-iconic-left {
				display: none !important;
			}

			> menuitem {
				justify-content: unset !important;
				
				&::after {
					content: attr(aria-label);
					appearance: menuitemtext !important;
					white-space: nowrap;

					@media (-moz-windows-classic) {
						padding-inline-start: 1.45em !important;
					}
				}
				
				@media (-moz-windows-classic) {
					min-height: 19px !important;
					height: 19px !important;
					min-height: 19px !important;
				}
			}
		}
	}


	// Tweak Linux's menu styling to look more native
	@media (-moz-platform: linux) {
		--panel-background: Field !important;
		--panel-color: FieldText !important;
		--panel-border-color: ThreeDShadow !important;
		--panel-border-radius: 0 !important;
		--panel-padding-block: 0 !important;

		&#contentAreaContextMenu #context-navigation > menuitem::after {
			margin-inline-start: 21px !important; // (menu.css:82, Firefox 115)
		}
	}
}


// Popover menus (toolbar items, etc.)
toolbarbutton menupopup[placespopup] {
	appearance: menulist !important;
	border: unset !important;
	background-color: unset !important;	
	--panel-background: transparent !important;
	--panel-color: MenuText !important;
	--panel-padding: 0 !important;
	--panel-border-radius: 0 !important;
	--panel-border-color: transparent !important;
	--panel-width: initial !important;
	--nested-margin: -3px !important;
	--panel-shadow-margin: 0px !important;

	// > :is(menu, menuitem) {
	// 	appearance: menuitem !important;
	// 	margin: initial !important;
	// 	padding: initial !important;
	// 	border-radius: initial !important;
	// 	background-color: transparent !important;
	// 	color: initial !important;

	// 	.menu-iconic-left {
	// 		padding-top: 2px !important; // menu.css:118, Firefox 115
	// 		margin-inline-end: unset !important;
	// 	}

	// 	&[_moz-menuactive="true"] {
	// 		color: -moz-menuhovertext !important;
	// 	}
	// }
	// > menuseparator {
	// 	position: initial !important;
	// 	appearance: auto !important;
	// 	border: unset !important;
	// 	min-height: unset !important;
	// 	margin: unset !important;
	// 	padding-inline: unset !important;
	// 	padding-top: unset !important;
	// 	padding-bottom: unset !important;

	// 	border-top: 1px solid ThreeDShadow !important;
	// 	border-bottom: 1px solid ThreeDHighlight !important; // menu.css:360, Firefox 118
	// }
}