menupopup {
	@media (-moz-platform: linux) {
		--panel-background: Field !important;
		--panel-color: FieldText !important;
		--panel-border-color: ThreeDShadow !important;
		--panel-border-radius: 0 !important;
		--panel-padding-block: 0 !important;
	}

	&#contentAreaContextMenu {
		#context-navigation {
			background-color: transparent !important;
			flex-direction: column !important;
	
			> menuitem {
				justify-content: unset !important;
	
				@media (-moz-windows-classic) {
					min-height: 19px !important;
					height: 19px !important;
					min-height: 19px !important;
				}
				
				&::after {
					content: attr(aria-label);
					margin-inline-start: 2px !important;
					appearance: menuitemtext !important;
					white-space: nowrap;

					@media (-moz-platform: linux) {
						margin-inline-start: 21px !important;
					}
	
					@media (-moz-windows-classic) {
						padding-inline-start: 1.45em !important;
					}
				}
	
				.menu-iconic-left {
					display: none !important;
				}
			}
		}
		
		#context-sep-navigation {
			margin-left: 0 !important;
		}
	}

	button {
		min-width: 0 !important;
	}

	> menu,
	> menuitem {
		.menu-text {
			margin-inline-end: 48px !important;
		}
	}

	> .menuitemitems,
	> .menuitemitems + menuseparator {
		display: none !important;
	}
}

@media (-moz-windows-classic) {
    :not(menulist) {
        menupopup {
            padding: 1px !important;
            border: 2px solid transparent !important;
            border-image-source: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHdpZHRoPSI2IiBoZWlnaHQ9IjYiPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI2IiBoZWlnaHQ9IjYiIGZpbGw9IlRocmVlRERhcmtTaGFkb3ciLz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSJUaHJlZURMaWdodFNoYWRvdyIvPjxyZWN0IHg9IjEiIHk9IjEiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiIGZpbGw9IlRocmVlRFNoYWRvdyIvPjxyZWN0IHg9IjEiIHk9IjEiIHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IlRocmVlREhpZ2hsaWdodCIvPjxyZWN0IHg9IjIiIHk9IjIiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiIGZpbGw9IlRocmVlREZhY2UiLz48L3N2Zz4=") !important;
            border-image-slice: 2 !important;
            border-image-width: 2px !important;
            border-image-repeat: repeat !important;
        }
    }
}

#menu_find11,
#menu_savePage11,
#menu_print11,
#tools11-menu,
#menu_settings11,
#bookmarks-menu {
	display: none;
}
