
:root {
    // People button
	&[fxastatus="signedin"] .titlebar-people {
		.toolbarbutton-icon {
			display: none !important;
		}
		.toolbarbutton-text {
			display: flex !important;
		}
	}

	&:not([fxastatus="signedin"])[gktitstyle="macos"] #people-titlebuttons-space #gk-firefox-account-button {
		list-style-image: url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_avatar.svg");

		&:hover,
		&:active {
			list-style-image: url("chrome://userchrome/content/assets/img/chrome-47/titlebar/macos/sign_in_button_avatar_hover.svg");
		}
	}

	&[gktitbuttons="win"] #people-titlebuttons-space {
		margin-inline-end: 6px !important;
	}

	&[gktitbuttons="win10"] #people-titlebuttons-space {
		margin-inline-end: 7px !important;
	}

	&[gktitnative="true"][gktitbuttons="win"] #people-titlebuttons-space,
	&[gktitbuttons*="linux"] #people-titlebuttons-space {
		margin-inline-end: 5px !important;
	}

	&[gktitbuttons="win10"],
	&[gktitnative="true"][gktitbuttons="win"],
	&[gktitnative="false"][gktitbuttons="win"],
	&[gktitbuttons*="linux"] {
		.titlebar-people .toolbarbutton-text {
			margin-inline: 7px !important;
		}
	}

	&[gktitnative="true"][gktitbuttons="win"],
	&[gktitnative="false"][gktitbuttons="win"],
	&[gktitbuttons*="linux"] {
		.titlebar-people .toolbarbutton-text {
			--stroke-color: rgba(0,0,0,.5);

			color: white !important;
			font-size: 8pt;
			text-shadow:	1px		1px		0	var(--stroke-color),
							1px		-1px	0	var(--stroke-color),
							-1px	1px		0	var(--stroke-color),
							-1px	-1px	0	var(--stroke-color),
							1px		0px		0	var(--stroke-color),
							0px		1px		0	var(--stroke-color),
							-1px	0px		0	var(--stroke-color),
							0px		-1px	0	var(--stroke-color),
		}
	}

	&[gktitnative="false"][gktitbuttons="win"],
	&[gktitbuttons*="linux"] {
		.titlebar-people {
			--themed-titlebutton-border-outer: 1px solid rgb(0, 0, 0, 0.35);
			--themed-titlebutton-corner: 3.5px;
	
			// .titlebar-button
			background: unset !important;
			background-color: transparent !important;
			border-radius: 0 !important;
			border-left: var(--themed-titlebutton-border-outer) !important;
			border-bottom: var(--themed-titlebutton-border-outer) !important;
			min-width: 25px;
			height: 17px;
			padding: 0 !important;
			background-clip: padding-box !important;
			box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.3);
			transition: background-color 100ms linear; //hover-fade animation
			display: flex !important; // Really, macOS's and Windows 8-'s Mozilla Firefox?
	
			// Hover and pressed states
			&:not([disabled]):hover {
				background-color: rgba(255, 255, 255, 0.3) !important;
	
				&:active {
					background-color: rgba(255, 255, 255, 0.2) !important;
					box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
					transition: none;
				}
			}
	
			// .titlebar-people
			list-style-image: url("chrome://userchrome/content/assets/img/chrome-1/titlebar/sign_in_button_avatar.svg");
			border-right: var(--themed-titlebutton-border-outer) !important;
			border-bottom-left-radius: var(--themed-titlebutton-corner) !important; // because border-radius is !important
			border-bottom-right-radius: var(--themed-titlebutton-corner) !important; // because border-radius is !important
	
			image { // Set the icon's opacity and hover-fade
				opacity: .6 !important;
				transition: opacity 100ms linear;
			}

			&:-moz-locale-dir(rtl) {
				box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, 0.3);

				&:not([disabled]):hover:active {
					box-shadow: inset -1px 1px 0px 0px rgba(0, 0, 0, 0.2);
				}
			}
		}
	}

	&[gktitbuttons="win10"],
	&[gktitnative="true"][gktitbuttons="win"] {
		.titlebar-people .toolbarbutton-text {
			color: white !important;
			font-size: 8pt;
		}
	}

	&[gktitnative="true"][gktitbuttons="win"] {
		@media (-moz-platform: windows) {
			#people-titlebuttons-space {
				appearance: none !important; // bruni: We disable the `.titlebar-buttonbox` apperance so it doesn't mask the People button.
			}

			.titlebar-people {
				margin-block-start: 1px !important;
			}
		}

		.titlebar-people {
			display: flex !important;
			height: 20px;
			min-width: 26px;

			// .titlebar-people
			list-style-image: url("chrome://userchrome/content/assets/img/chrome-1/titlebar/windows/win7/sign_in_button_avatar.svg");
	
			.toolbarbutton-text {
				--stroke-color: rgba(0,0,0,.5);
	
				margin-inline: 11px !important;
				text-shadow:	1px		1px		0	var(--stroke-color),
								1px		-1px	0	var(--stroke-color),
								-1px	1px		0	var(--stroke-color),
								-1px	-1px	0	var(--stroke-color),
								1px		0px		0	var(--stroke-color),
								0px		1px		0	var(--stroke-color),
								-1px	0px		0	var(--stroke-color),
								0px		-1px	0	var(--stroke-color),
			}
		}
	}

	&[gktitbuttons="win10"] .titlebar-people {
		background: rgba(0,0,0,.3) !important;
		border-radius: 0 !important;
		display: flex !important;
		height: 20px;
		min-width: 24px;

		// .titlebar-people
		list-style-image: url("chrome://userchrome/content/assets/img/chrome-1/titlebar/windows/win8/sign_in_button_avatar.svg");
		
		// Hover and pressed states
		&:not([disabled]):hover {
			background: rgb(51,99,282) !important;

			&:active {
				background: rgb(59,95,155) !important;
				transition: none;
			}
		}
	}

	&[gktitstyle="chromiumos"] #people-titlebuttons-space {
		display: none !important;
	}

	&[gktitnative="true"][gktitbuttons="win"],
	&[gktitstyle="macos"] {
		#people-titlebuttons-space #gk-firefox-account-button {
			background-repeat: no-repeat !important;
			background-image:	var(--sign-in-button-top-left),		var(--sign-in-button-top),		var(--sign-in-button-top-right),
								var(--sign-in-button-left),			var(--sign-in-button-center),	var(--sign-in-button-right),
								var(--sign-in-button-bottom-left),	var(--sign-in-button-bottom),	var(--sign-in-button-bottom-right);
			background-position:	0 0,											var(--sign-in-button-corner-size) 0,									100% 0,
									0 var(--sign-in-button-corner-size),			var(--sign-in-button-corner-size) var(--sign-in-button-corner-size),	100% var(--sign-in-button-corner-size),
									0 100%,											var(--sign-in-button-corner-size) 100%,									100% 100%;
			background-size:	var(--sign-in-button-corner-size) var(--sign-in-button-corner-size),					calc(100% - (var(--sign-in-button-corner-size) * 2)) var(--sign-in-button-corner-size),						var(--sign-in-button-corner-size) var(--sign-in-button-corner-size),
								var(--sign-in-button-corner-size) calc(100% - (var(--sign-in-button-corner-size) * 2)),	calc(100% - (var(--sign-in-button-corner-size) * 2)) calc(100% - (var(--sign-in-button-corner-size) * 2)),	var(--sign-in-button-corner-size) calc(100% - (var(--sign-in-button-corner-size) * 2)),
								var(--sign-in-button-corner-size) var(--sign-in-button-corner-size),					calc(100% - (var(--sign-in-button-corner-size) * 2)) var(--sign-in-button-corner-size),						var(--sign-in-button-corner-size) var(--sign-in-button-corner-size);

			&:hover {
				background-image:	var(--sign-in-button-top-left-hover),		var(--sign-in-button-top-hover),	var(--sign-in-button-top-right-hover),
									var(--sign-in-button-left-hover),			var(--sign-in-button-center-hover),	var(--sign-in-button-right-hover),
									var(--sign-in-button-bottom-left-hover),	var(--sign-in-button-bottom-hover),	var(--sign-in-button-bottom-right-hover);
			}

			&:active {
				background-image:	var(--sign-in-button-top-left-pressed),		var(--sign-in-button-top-pressed),	var(--sign-in-button-top-right-pressed),
									var(--sign-in-button-left-pressed),			var(--sign-in-button-center-pressed),	var(--sign-in-button-right-pressed),
									var(--sign-in-button-bottom-left-pressed),	var(--sign-in-button-bottom-pressed),	var(--sign-in-button-bottom-right-pressed);
			}
		}
	}

	&[gktitnative="true"][gktitbuttons="win"] #people-titlebuttons-space #gk-firefox-account-button image {
		margin-block-end: 2px !important;
	}

	&[gktitstyle="macos"] {
		#people-tabs-space {
			align-items: end;
		}

		&:not([profilepic="firefox"], [profilepic="geckium"]) #people-tabs-space #fxa-avatar-image {
			transform: scaleX(-1);
		}

		#people-titlebuttons-space {
			margin-inline: 3px !important;
			align-items: center !important;
			padding-block-end: 1px;
	
			#gk-firefox-account-button {
				min-width: 28px;
				min-height: 28px;
	
				.toolbarbutton-text {
					margin-inline: 10px !important;
				}
			}
		}
	}

	.titlebar-people {
		appearance: none !important;
	}

	#gk-firefox-account-button {
		padding: 0 !important;
	}
}