:root {
	--back-button-icon:		url("chrome://userchrome/content/assets/img/chrome-1/toolbar/back.svg");
	--forward-button-icon:	url("chrome://userchrome/content/assets/img/chrome-1/toolbar/forward.svg");
	--reload-button-icon:	url("chrome://userchrome/content/assets/img/chrome-1/toolbar/reload.svg");
	--stop-button-icon:		url("chrome://userchrome/content/assets/img/chrome-1/toolbar/stop.svg");
	--home-button-icon:		url("chrome://userchrome/content/assets/img/chrome-1/toolbar/home.svg");

	--star-button-icon-normal:	url("chrome://userchrome/content/assets/img/chrome-1/toolbar/star.svg");
	--star-button-icon-starred:	url("chrome://userchrome/content/assets/img/chrome-1/toolbar/starred.svg");
	--go-button-box-icon:		url("chrome://userchrome/content/assets/img/chrome-1/toolbar/go.svg");

	--nav-bar-overflow-button-icon:		url("chrome://userchrome/content/assets/img/chrome-1/toolbar/overflow.svg");
	--bookmarks-menu-button-icon:		url("chrome://userchrome/content/assets/img/chrome-1/toolbar/menu_bookmark.svg");
	--gsettings-button-icon:			url("chrome://userchrome/content/windows/gsettings/imgs/logo.svg");
	--unified-extensions-button-icon:	url("chrome://userchrome/content/assets/img/chrome-1/toolbar/menu_plugin.svg");
	--page-button-icon:					url("chrome://userchrome/content/assets/img/chrome-1/toolbar/menu_page.svg");
	--chrome-button-icon:				url("chrome://userchrome/content/assets/img/chrome-1/toolbar/menu_chrome.svg")
}