:root {
	--chrome-content-separator-color: transparent !important; // Firefox's top toolbar separator
	--toolbar-start-end-padding: 1px !important; // Margin before and after first and last toolbar item

	--nav-bar-height: 37px; // Used in Geckium's size calculations

	--toolbarbutton-width: 29px;
	--toolbarbutton-menu-width: 36px;
	--toolbarbutton-height: 27px;
	--toolbarbutton-inner-padding: 5px !important; // Firefox's toolbar button size
	--toolbarbutton-active-background: rgb(0, 0, 0, .05) !important; // Firefox's selected button background?
	--toolbarbutton-outer-padding: 3px !important; // Firefox's toolbar button spacing

	--toolbarbutton-shadow-normal: inset 0 0 0 1px var(--toolbarbutton-inner-border-color-normal, var(--default-toolbarbutton-inner-border-color-normal));
	--toolbarbutton-shadow-hot:	0 2px 3px 0 rgba(140,140,140,.35),
								inset 0 0 0 1px var(--toolbarbutton-inner-border-color-hot, var(--default-toolbarbutton-inner-border-color-hot));
	//--toolbarbutton-active-background: transparent !important;
	--toolbarbutton-border-radius: 6px !important;
	--toolbarbutton-disabled-opacity: 1 !important;
	--toolbarbutton-icon-drop-shadow-color: var(--default-toolbarbutton-icon-drop-shadow-color);
	--toolbarbutton-icon-drop-shadow: drop-shadow(0 0 1px var(--toolbarbutton-icon-drop-shadow-color, var(--default-toolbarbutton-icon-drop-shadow-color)))
		drop-shadow(0 0 1.5px var(--toolbarbutton-icon-drop-shadow-color, var(--default-toolbarbutton-icon-drop-shadow-color)));

	--navigation-buttons-separator: var(--default-navigation-buttons-separator);

	--personal-toolbar-gap: 2px;
	--personal-toolbar-height: 25px;
	--personal-toolbar-item-shadow: inset 0 0 0 1px transparent,
		0 0 0 1px transparent, 0 1px 1px 2px transparent,
		inset 0 0 1px 1px transparent;
	--personal-toolbar-item-hover-shadow: inset 0 0 0 1px
			rgb(255, 255, 255, 30%),
		0 1px 1px 2px rgb(0, 0, 0, 6%), inset 0 0 1px 1px transparent;
	--personal-toolbar-item-hover-bg: rgba(255, 255, 255, 0.5) !important;

	--bookmark-item-color: var(--default-bookmark-item-color);

	--placed-chevron-width: 15px;
	

	/*
		Tabs toolbar
	*/
	#TabsToolbar {
		--toolbarbutton-inner-padding: 0 !important; // Removes padding around buttons in the top toolbar
		position: relative; // Required by tab shadow (the below ::before)

		&::before {
			content: "";
			position: absolute;
			left: var(--gap-size);
			right: var(--gap-size);
			bottom: -1px;
			height: 23px;
			background: var(--content-border-top-image) bottom;
			pointer-events: none;
			z-index: 100;
		}
	}


	/*
		Profile Picture/Incognito
	*/
	// Make the Incognito indicator look like Chromium's
	#private-browsing-indicator-with-label {
		margin-inline: unset !important;
		//#TabsToolbar-customization-target aligns items to end,
		// so we have to mimic it for Incognito to be consistent.
		align-self: end;
		// same with .toolbarbutton-1 for this:
		margin: 0 0 var(--tabs-navbar-shadow-size);
	}
	.private-browsing-indicator-icon {
		width: auto !important;
		height: auto !important;
	}
	[data-l10n-id="private-browsing-indicator-label"] {
		display: none !important;
	}
	#fxa-toolbar-menu-button,
	#private-browsing-indicator-with-label {
		background: transparent !important;
		border: 0 !important;
		padding: 0 !important;
		height: var(--tab-height);
		align-items: end !important;

		.toolbarbutton-badge-stack,
		.private-browsing-indicator-icon {
			background: transparent !important;
		}
	}
	// NOTE: Maximised state is handled by titlebar border styles.

	&:not([profilepicbutton="true"]),
	&[privatebrowsingmode="temporary"] { //Hide the account icon if in OffTheRecord
		#fxa-toolbar-menu-button {
			display: none !important;
		}
    }
	&[profilepicbutton="true"] {
		#fxa-avatar-image {
			width: 38px !important;
			height: 32px !important;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: bottom;
		}
		&[profilepic="geckium"],
		&[profilepic="chromium"],
		&[profilepic="custom"] {
			// Firefox rounds pfps, so we gotta disable that.
			#fxa-avatar-image {
				border-radius: unset !important;
			}
		}
		&[profilepic="geckium"],
		&[profilepic="firefox"] {
			// Sync the pfp width to prevent glaring inconsistencies
			#fxa-avatar-image {
				width: 32px !important;
				margin: 0 3px; //...and add some spacing to even out. (6px)
			}
		}
		&[profilepic="chromium"],
		&[profilepic="custom"] {
			//list-style-image CAN'T use image 'fit' sizes,
			// so for Chromium and Custom pfps, we use background
			#fxa-avatar-image {
				list-style-image: unset !important;
			}
		}

		// Profile Pictures
		&[profilepic="geckium"] {
			#fxa-avatar-image {
				// list-style-image is used here for the fill-colour
				list-style-image: url("chrome://userchrome/content/windows/gsettings/imgs/logo.svg") !important;
			}
		}
		&[profilepic="chromium"] {
			$profile-pictures: 25; // bruni: Set the amount of profile pictures
			@for $i from 0 through $profile-pictures {
				&[profilepicchromium="#{$i}"] {
					#fxa-avatar-image {
						background-image: url(chrome://userchrome/content/assets/img/profile/#{$i}.png) !important;
					}
				}
			}
		}
		&[profilepic="custom"] {
			#fxa-avatar-image {
				background-image: var(
					--custom-profile-picture,
					url(chrome://userchrome/content/assets/img/profile/0.png)
				);
			}
		}
	}


	/*
		Full Screen
	*/
	//FIXME: Instead of this, replicate Chrome's fullscreen status popup
	// &[sizemode="fullscreen"] {
	// 	#fullscr-toggler {
	// 		display: none !important;
	// 	}
	// }


	/*
		Navigation (the main) toolbar
	*/
	#nav-bar {
		background: var(--nav-bar, var(--default-nav-bar)) !important;
		align-items: center; // important for URL/search bar
		padding-inline: var(--toolbar-start-end-padding) !important;
		height: var(--nav-bar-height);
		box-shadow: none !important;
		border-top: 0 !important;
		
		//FIXME: why does this need this condition?
		&:not([urlbar-exceeds-toolbar-bounds]) {
			overflow: visible !important; //Required for the pseudos
		}
		//FIXME: what is this for?
		// &[unifiedextensionsbuttonshown] #urlbar-container {
		// 	width: calc(24px + 2 * var(--toolbarbutton-inner-padding)) !important;
		// }
	}
	toolbar[overflowable][customizing] > .customization-target {
		overflow: visible !important;
	}

	// Generic toolbarbuttons
	:not(.widget-overflow-list) > .toolbarbutton-1:not(
		#fxa-toolbar-menu-button,
		#tabs-newtab-button,
		#new-tab-button,
		.subviewbutton) {
		position: relative; // Makes pseudos work properly
		padding: 0 !important;
		background: var(--toolbarbutton-texture, var(--default-toolbarbutton-texture)) !important;
		background-clip: padding-box !important;
		fill: var(--toolbarbutton-icon-color, var(--default-toolbarbutton-icon-color)) !important;
		margin: 0 var(--toolbarbutton-outer-padding) !important;
		width: var(--toolbarbutton-width) !important;
		height: var(--toolbarbutton-height) !important;
		align-items: center;
		justify-content: center;
		transition: all 150ms linear;
		border: 1px solid var(--toolbarbutton-border-color-normal, var(--default-toolbarbutton-border-color-normal));
		border-radius: var(--toolbarbutton-border-radius);
		flex-shrink: 0 !important;

		.toolbarbutton-badge-stack,
		.toolbarbutton-icon,
		image:first-of-type {
			border-radius: 0 !important;
			padding: 0 !important;
			fill: var(--toolbarbutton-icon-color, var(--default-toolbarbutton-icon-color)) !important;
			filter: saturate(1)
					var(--toolbarbutton-icon-drop-shadow);
			transition: 100ms filter linear;
		}

		.toolbarbutton-icon {
			width: auto !important;
			height: auto !important;
			max-height: 19px !important;
			background: transparent !important;
		}

		.toolbarbutton-badge-stack {
			border-radius: 0 !important;
			height: inherit;
			width: inherit;
			align-items: center;
			justify-content: center;
		}

		.toolbarbutton-badge {
			margin: 0 !important;
			margin-block-end: 1px !important;
			align-self: end !important;
			justify-self: center !important;
			z-index: 1;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: box-shadow 100ms linear;

			border-radius: var(--toolbarbutton-border-radius) !important;
		}

		&::before {
			opacity: 0;
			background: linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0.3),
				rgba(255, 255, 255, 0.3),
				color-mix(
					in srgb,
					color-mix(
						in srgb,
						var(--toolbarbutton-icon-color, var(--default-toolbarbutton-icon-color)) 80%,
						#747474
					) 25%, 
					transparent
				)
			);
			transition: opacity 100ms linear;
		}

		&::after {
			box-shadow: var(--toolbarbutton-shadow-normal);
		}

		&:not([disabled]):hover {
			border: 1px solid var(--toolbarbutton-border-color-hot, var(--default-toolbarbutton-border-color-hot));

			&::before {
				opacity: 1;
			}
			&::after {
				box-shadow: var(--toolbarbutton-shadow-hot);
			}

			.toolbarbutton-badge-stack,
			.toolbarbutton-icon,
			image:first-of-type {
				background-color: transparent !important;
				filter: saturate(1.5)
						var(--toolbarbutton-icon-drop-shadow);
			}
		}
		&:not([disabled]):active,
		&:not([disabled])[open] {
			border: 1px solid var(--toolbarbutton-border-color-active, var(--default-toolbarbutton-border-color-active));
			box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.05),
						inset 0 0 6px 1px rgba(0, 0, 0, 0.1) !important;
			transition: none !important;

			&::before {
				opacity: 1;
				background: var(--toolbarbutton-active-background);
				transition: none;
			}
			&::after {
				box-shadow: none;
			}

			.toolbarbutton-badge-stack,
			.toolbarbutton-icon,
			image:first-of-type {
				filter: unset;
			}
		}
	}

	// Special toolbarbuttons
	&:not([geckium-eleven]) :not(.widget-overflow-list) > .toolbarbutton-1:not(
		#fxa-toolbar-menu-button,
		#tabs-newtab-button,
		#new-tab-button,
		.subviewbutton) {
		&#unified-extensions-button,
		&[type="menu"]:not(#back-button, #forward-button),
		&#PanelUI-menu-button,
		&[class*="webextension"],
		&#gsettings-button,
		&#nav-bar-overflow-button,
		&#developer-button {
			border: 1px solid transparent !important;
			background: transparent !important;
			margin: 0 1px !important;
			transition: border-color 100ms linear, background-color 100ms linear;

			&:not([class*="webextension"], #gsettings-button, #PlacesChevron, #nav-bar-overflow-button) {
				width: var(--toolbarbutton-menu-width) !important;
			}

			&::after,
			&::before {
				content: unset !important;
			}

			&:not([disabled]) {
				&:hover {
					border: 1px solid rgba(0, 0, 0, .15) !important;
					background-color: rgba(255, 255, 255, 0.6) !important;
					
					.toolbarbutton-badge-stack,
					.toolbarbutton-icon,
					image:first-of-type {
						filter: unset;
					}
				}

				&:active,
				&[open] {
					border: 1px solid rgba(0, 0, 0, .2) !important;
					background-color: rgba(240, 240, 240, 0.5) !important;
				}
			}
		}
	}
	
	// Misc. toolbar button tweaks
	:not(.widget-overflow-list) > .toolbarbutton-1:not(
		#fxa-toolbar-menu-button,
		#tabs-newtab-button,
		#new-tab-button,
		.subviewbutton) {
		// Overflow toolbar button styling
		&#nav-bar-overflow-button {
			width: 18px !important;
			margin-inline-start: calc(6px - .5px) !important;
			margin-inline-end: 4px !important;
			margin-block-start: -1px !important;

			&:not([disabled], :hover, :active, [open]) {
				border-inline-end: rgba(0,0,0,.3) 1px solid !important;
				mask-image: linear-gradient(
					to bottom,
					transparent,
					white,
					white,
					transparent
				) !important;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: -1px;
					background: transparent !important;
					border-inline-end: rgba(255,255,255,.5) 1px solid !important;
					opacity: 1;
				}
			}
		}
		
		// Back and forward buttons
		&#back-button,
		&#forward-button {
			width: calc(var(--toolbarbutton-width) - 1px) !important;
		}
		/* bruni: Navigation buttons needs some rethinking. */
		&#back-button {
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
			border-right: 1px solid transparent;

			&::before,
			&::after {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
			&::after {
				border-right: 1px solid var(--navigation-buttons-separator);
				z-index: 1;
			}
		}
		&#forward-button {
			margin-inline-start: -4px !important;
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
			border-left: 1px solid transparent;

			&::before,
			&::after {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}
		}
		&#star-button-box {
			margin: 0 !important;
			border-top-right-radius: 0 !important;
  			border-bottom-right-radius: 0 !important;

			&::before,
			&::after {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}
		
		//Personal Toolbar: Overflow button
		&#PlacesChevron {
			width: var(--placed-chevron-width) !important;

			.toolbarbutton-icon {
				width: 12px !important;
				height: 8px !important;
			}
		}
		
		// Disabled buttons
		&[disabled] {
			.toolbarbutton-badge-stack,
			.toolbarbutton-icon,
			image:first-of-type {
				// This needs `!important` because for some reason when the windows is inactive in some buttons the opacity is set to 1...
				opacity: 0.5 !important;
			}
		}
	}

	// Disable stop/reload button animation
	#stop-reload-button {
		margin: 0 !important;
		
		.toolbarbutton-animatable-box {
			display: none !important;
		}
	}
		
	// Remove the Firefox menu
	#PanelUI-menu-button {
		display: none !important;
	}

	// Center-align all toolbar items in their containers
	#nav-bar-customization-target,
	#PanelUI-button {
		align-items: center;
		margin-top: -1px;
	}

	// Combined toolbarbuttons
	.toolbaritem-combined-buttons {
		margin-inline: 0 !important;
	
		> separator {
			display: none !important;
		}
	}

	// Hide Extensions button if disabled
	#nav-bar[unifiedextensions="hide"] {
		#unified-extensions-button {
			position: absolute !important;
			left: 0;
			top: var(--urlbar-height-definitive);
			border: 0 !important;
			width: 0 !important;
			height: 0 !important;
			padding: 0 !important;
			margin: 0 !important;
			opacity: 0 !important;
		}
	}


	// Special toolbar icons
	#bookmarks-menu-button {
		list-style-image: var(--bookmarks-menu-button-icon) !important;
	}
	#gsettings-button {
		list-style-image: var(--gsettings-button-icon);
	}
	#nav-bar-overflow-button {
		list-style-image: var(--nav-bar-overflow-button-icon) !important;
	}
	#page-button {
		list-style-image: var(--page-button-icon) !important;
	}
	#PanelUI-menu-button,
	#chrome-button {
		list-style-image: var(--chrome-button-icon) !important;
		background-position: center;
	}
	#unified-extensions-button {
		list-style-image: var(--unified-extensions-button-icon) !important;
	}

	// Remove Customise Toolbar from Overflow Menu
	#overflowMenu-customize-button {
		display: none !important;
	}
	

	/*
		Personal (the bookmarks) toolbar
	*/
	#PersonalToolbar,
	.notificationbox-stack {
		position: relative !important; //Required for the pseudos
	}
	#PersonalToolbar {
		overflow: visible !important; // Prevents sides getting clipped
		height: var(--personal-toolbar-height) !important;
		padding: 3px !important;
		background: var(--personal-toolbar, var(--default-personal-toolbar)) !important;
		gap: var(--personal-toolbar-gap);
	
		&::before,
		&::after {
			top: 0px;
			height: var(--personal-toolbar-height);
		}
	}

	/*&[personalbar="newtab"] {
		--personal-toolbar: rgb(210, 225, 246) !important;
		--personal-toolbar-border: rgb(172, 201, 238) !important;

		&[geckium-choice="one"],
		&[geckium-choice="three"],
		&[geckium-choice="four"],
		&[geckium-choice="five"],
		&[geckium-choice="six"],
		&[geckium-choice="eleven"],
		&[geckium-choice="twentyone"],
		&[geckium-choice="twentyfive"] {
			#PersonalToolbar {
				position: fixed !important;
				top: calc(var(--tab-height) + var(--nav-bar-height) + var(--personal-toolbar-height) - 3px);
				left: 9px;
				z-index: 1;
				width: calc(100% - 18px);
				height: calc(var(--personal-toolbar-height) + 10px) !important;
				margin: 0 !important;
				padding: 2px !important;
				border: 1px solid var(--personal-toolbar-border) !important;
				border-radius: 6px !important;
	
				&::before,
				&::after {
					content: unset !important;
				}
			}

			&[sizemode="maximized"] {
				#PersonalToolbar {
					top: calc(var(--tab-height) + var(--nav-bar-height) + var(--personal-toolbar-height) - 14px);
				}
			}
		}
	}

	&[personalbar="newtab"] {
		#PersonalToolbar {
			#PlacesToolbar {
				margin-top: 0 !important;
			}
		}
	}
	&:not([personalbar="newtab"]) {
		#PersonalToolbar {
			> * {
				margin-top: -5px !important;
			}
		}
	}*/

	#PlacesToolbarItems,
	#personal-bookmarks /* Fix for Firefox ~120+ */ {
		toolbarbutton.bookmark-item {
			&:not(.menu-iconic, .menuitem-iconic) {
				margin-top: 0 !important;
			}
		}
		gap: var(--personal-toolbar-gap);
	}
	toolbarbutton.bookmark-item {
		border: 1px solid transparent;
		box-shadow: var(--personal-toolbar-item-shadow);
		transition: all 150ms linear;	
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 0 !important;
		border-radius: var(--toolbarbutton-border-radius);
		color: var(--bookmark-item-color) !important;
		text-shadow: 0 1px 0 var(--bookmark-item-color-shadow);
		flex-shrink: 0;
		max-width: 148px !important;
	
		&:hover {
			border: 1px solid rgba(0, 0, 0, 0.14);
			background: var(--personal-toolbar-item-hover-bg) !important;
			color: var(--default-bookmark-item-color) !important;
		}
	}
	
	#PlacesToolbarDropIndicator {
		list-style-image: url("chrome://userchrome/content/assets/img/chrome-1/toolbar/toolbar_drag_indicator.svg") !important;
	}


	/*
		Chromium Themes
	*/
	&[gkthemed][gkchrthemed] {
		&[style*="--chrtheme-toolbar-button-icon"] {
			--toolbarbutton-border-color-normal: color-mix(
				in srgb,
				var(--toolbarbutton-icon-color, var(--default-toolbarbutton-icon-color)) 24.4%,
				transparent
			) !important;
			--toolbarbutton-border-color-hot: color-mix(
				in srgb,
				var(--toolbarbutton-icon-color, var(--default-toolbarbutton-icon-color)) 70%,
				transparent
			) !important;
		}
		--toolbarbutton-border-color-active: var(--toolbarbutton-border-color-hot) !important;
		--toolbarbutton-texture: var(--chrtheme-theme-button-background, var(--chrtheme-button-background, transparent)) !important;
		--toolbarbutton-shadow-normal: inset 1px 1px 0 0 var(--toolbarbutton-inner-border-color-normal) !important;
		--toolbarbutton-inner-border-color-hot: rgba(255, 255, 255, 0.8) !important;
		--toolbarbutton-shadow-hot: inset 1px 1px 1px 0 var(--toolbarbutton-inner-border-color-hot) !important;
		--toolbarbutton-icon-color: var(--chrtheme-toolbar-button-icon);
		--navigation-buttons-separator: rgba(255,255,255,.2) !important;
		
		--bookmark-item-color: var(--chrtheme-bookmark-text, var(--default-bookmark-item-color)) !important;
		
		&[gkchrthemehastoolbar] {
			--nav-bar: var(--chrtheme-theme-toolbar, var(--chrtheme-toolbar)) !important;
			--personal-toolbar: var(--chrtheme-theme-toolbar, var(--chrtheme-toolbar)) !important;

			#nav-bar {
				background-position-y: calc(var(--tab-height) * -1) !important;
			}

			#PersonalToolbar {
				background-position-y: calc((var(--tab-height) + var(--nav-bar-height)) * -1) !important;
			}
		}
	}


	/*
		LightWeight (aka Firefox) Themes
	*/
	&[gkthemed]:not([gkchrthemed]) {
		&:not([customthememode="none"]) {
			--bookmark-item-color: var(--toolbar-color, var(--lwt-text-color, var(--arrowpanel-color))) !important;

			--nav-bar: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;

			--personal-toolbar: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;

			&[personalbar="newtab"] {
				--personal-toolbar: var(--toolbar-bgcolor, var(--lwt-accent-color)) !important;
				--personal-toolbar-border: color-mix(
					in srgb,
					var(--toolbar-bgcolor, var(--lwt-accent-color)) 80%,
					black
				) !important;
			}

			--toolbarbutton-border-color-normal: color-mix(
				in srgb,
				var(--toolbar-bgcolor, var(--lwt-accent-color)) 80%,
				white
			) !important;
			--toolbarbutton-border-color-hot: color-mix(
				in srgb,
				var(--toolbar-bgcolor, var(--lwt-accent-color)) 60%,
				white
			) !important;
			--toolbarbutton-border-color-active: color-mix(
				in srgb,
				var(--toolbar-bgcolor, var(--lwt-accent-color)) 50%,
				white
			) !important;
			--toolbarbutton-inner-border-color-normal: color-mix(
				in srgb,
				var(--toolbarbutton-icon-color, var(--default-toolbarbutton-icon-color)) 30%,
				transparent
			) !important;
			--toolbarbutton-inner-border-color-hot: color-mix(
				in srgb,
				var(--toolbarbutton-icon-color, var(--default-toolbarbutton-icon-color)) 50%,
				transparent
			) !important;

			--toolbarbutton-icon-color: var(--toolbarbutton-icon-fill);

			&[style*="--toolbar-color"] {
				&:not([style*="--toolbarbutton-icon-fill"]) {
					--toolbarbutton-icon-color: var(--toolbar-color);
				}

				--toolbarbutton-inner-border-color-normal: color-mix(
					in srgb,
					var(--toolbarbutton-icon-color, var(--toolbar-color)) 30%,
					transparent
				) !important;
				--toolbarbutton-inner-border-color-hot: color-mix(
					in srgb,
					var(--toolbarbutton-icon-color, var(--toolbar-color)) 50%,
					transparent
				) !important;
			}

			--toolbarbutton-texture: linear-gradient(
				to bottom,
				color-mix(
					in srgb,
					var(--toolbar-bgcolor, var(--lwt-accent-color)) 80%,
					white
				),
				color-mix(
					in srgb,
					var(--toolbar-bgcolor, var(--lwt-accent-color)) 90%,
					white
				)
			) !important;

			--navigation-buttons-separator: color-mix(
				in srgb,
				var(--toolbar-bgcolor, var(--lwt-accent-color)) 80%,
				white
			) !important;

			#urlbar-background {
				color: var(--lwt-text-color) !important;
			}

			--urlbar-border: var(--toolbarbutton-border-color-normal, var(--default-toolbarbutton-border-color-normal)) !important;
		}

		// if FXChrome
		&[customthememode="fxchrome"] {
			&[toolbar-bgcolor-transparent="true"] {
				--nav-bar: linear-gradient(
					to bottom,
					var(--gktoolbar-bgcolor),
					var(--toolbar-bgcolor) 50%
				) !important;
				--personal-toolbar: var(--toolbar-bgcolor) !important;
			}
		}
		// if Silverfox
		&[customthememode="silverfox"] {
			&[toolbar-bgcolor-transparent="true"] {
				--nav-bar: linear-gradient(
					to bottom,
					var(--gktoolbar-bgcolor) 25%,
					transparent
				) !important;
				--personal-toolbar: transparent !important;
			}
		}
	}


	/*
		GTK+ SysTheme - exclusive toolbarbutton styling
	*/
	&[gksystheme="gtk"]:not([lwtheme], [gkchrthemed], [geckium-sixtyeight]) {
		// Toolbar buttons
		:not(.widget-overflow-list)
		> .toolbarbutton-1:not(
			#fxa-toolbar-menu-button,
			#tabs-newtab-button,
			#new-tab-button,
			.subviewbutton) {
			appearance: toolbarbutton !important;
			background: unset !important;
			background-clip: unset !important;
			border: none !important;
			border-radius: unset !important;
			box-shadow: unset !important;

			&::before,
			&::after {
				content: unset !important;
			}

			.toolbarbutton-badge-stack,
			.toolbarbutton-icon,
			image:first-of-type {
				filter: unset !important;
			}
			
			// Visibility fix for #nav-bar-overflow-button
			&#nav-bar-overflow-button {
				mask-image: unset !important;
			}

			// Revert width for back/forward
			&#back-button,
			&#forward-button {
				width: var(--toolbarbutton-width) !important;
			}
			// Remove spacing from forward
			&#forward-button {
				margin-inline-start: var(--toolbarbutton-outer-padding) !important;
			}
		}

		// Pinned bookmarks
		toolbarbutton.bookmark-item {
			appearance: toolbarbutton !important;
		}
		
		// Because of a bug in Firefox on Linux, that surprisingly doesn't exist on non-Linux,
		//  buttons are forcedly given a border despite any CSS - the button icon sizes of custom
		//  icons have to be forced.
		@media (-moz-platform: linux) {
			// Fix issue with extension icons getting cropped
			:not(.widget-overflow-list) > .unified-extensions-item > .toolbarbutton-1 {
				overflow: visible !important;
			}
			
			:not(.widget-overflow-list) > .toolbarbutton-1 {
				&#back-button,
				&#forward-button,
				&#reload-button,
				&#stop-button,
				&#home-button {
					.toolbarbutton-icon {
						height: 20px !important;
						width: 20px !important;
						max-height: unset !important;
					}
				}
				// Fix issue with gsettings becoming erroneously small
				&#gsettings-button > .toolbarbutton-icon {
					height: 19px !important;
					width: 19px !important;
				}
			}
			&[moregtkicons="true"] :not(.widget-overflow-list) > .toolbarbutton-1 {
				&#bookmarks-menu-button,
				&#page-button,
				&#PanelUI-menu-button,
				&#unified-extensions-button,
				&#chrome-button,
				&#logins-button,
				&#developer-button,
				&#preferences-button,
				&#fullscreen-button,
				&#new-window-button,
				&#save-page-button,
				&#open-file-button {
					.toolbarbutton-icon {
						height: 20px !important;
						width: 20px !important;
						max-height: unset !important;
					}
				}
			}
		}
	}
}