#applauncherbody {
    margin: 0;
    padding: 0;
    width: 402px;
    height: 502px;
    background-color: #f2f2f2;
}

#searchbar {
    border-bottom: 1px solid #c0c0c0;
    width: 402px;
    height: 50px;
    background-color: #ffffff;
}

#searchbarfield {
    color: black;
}

#searchbarurl {
    background: none;
}