& {
	@media (-moz-platform: windows) {
		font-family: "Segoe UI", Arial, sans-serif !important;
	}
}

#other-sessions-menu-button {
	display: none !important;
}

.tile-grid {
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));
	grid-template-rows: repeat(2, minmax(0, 1fr));
	gap: 32px;
}

.tile-container {
	all: unset;

	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 10.5pt;
	width: 160px;
	height: 147px;
	user-select: none;
	color: var(--thumbnail-container-color);

	transition-property: transform, width, height;
	transition-duration: 50ms, .15s;

	&:not([disabled]) {
		cursor: pointer;

		&:active {
			transform: scale(1.1);
			transition: none;
		}
	}

	.icon {
		width: 128px;
		height: 128px;

		transition-property: width, height;
		transition-duration: .15s;	
	}

	hbox {
		flex-direction: column;
	}
}

#attribution {
	position: absolute;
	bottom: 3px;
	right: 13px;
	align-items: start;
	margin: 0;
	width: unset;
	font-size: 9pt;
}

@import "login";
@import "card-slider-frame";
@import "most-visited";
@import "footer";