#footer {
	#footer-content {
		padding-inline-end: 12px;
	}

	#logo-img {
		padding-block-start: 2px;
		padding-block-end: 0;
	}

	.dot {
		color: var(--dot-color-normal);
		
		&:not([disbled]) {
			&:hover,
			&:focus,
			&.selected {
				color: var(--dot-color-hot);
			}
		}

		.selection-bar {
			margin-block-end: 5px;
		}
	}

	.footer-menu {
		bottom: 32px;
	}
}