& {
	font-family: Arial, sans-serif;
	font-size: 10pt;

	&[geckium-choice="one"] {
		&[gkbranding="chromium"] {
			#logo {
				background-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-1/chromium/product_logo.png");
			}
		}

		&[gkbranding="chrome"] {
			#logo {
				background-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-1/google-chrome/product_logo.png");
			}
		}

		@media only screen and (max-width: 882px) {
			#main {
				width: 729px;
			}
		}
	}
}

#main {
	margin-block-start: 10px;
	margin-inline: auto;
	width: 864px;
	gap: 10px;

	transition-property: height, width;
	transition-duration: .12s;
}

#logo {
	height: 52px;
	background-repeat: no-repeat;
	background-position: center right;
}

.section-title {
	color: black;
	font-size: 11pt;
	font-weight: bold;
	min-height: 25px;
	line-height: 25px;
	margin-block-end: 4px;
}

/*&[pref="newtab"] {
	#bookmarksbar-spacing {
		height: 49px;
	}
}*/

@import "most-visited";
@import "sidebar";