& {
	--tab-width: 192px;

	--tab-close-button-normal: 				url("chrome://userchrome/content/assets/img/chrome-25/tabbar/tab_close_mask.png");
	--tab-close-button-hot: 				url("chrome://userchrome/content/assets/img/chrome-25/tabbar/tab_close_hover.png");
	--tab-close-button-pressed: 			url("chrome://userchrome/content/assets/img/chrome-25/tabbar/tab_close_pressed.png");

	--newtab-button-mask:				url("chrome://userchrome/content/assets/img/chrome-25/tabbar/newtab_button_mask.png");
	--newtab-button-texture-normal:		url("chrome://userchrome/content/assets/img/chrome-25/tabbar/newtab_normal.png");
	--newtab-button-texture-hot:		url("chrome://userchrome/content/assets/img/chrome-25/tabbar/newtab_hover.png");
	--newtab-button-texture-pressed:	url("chrome://userchrome/content/assets/img/chrome-25/tabbar/newtab_pressed.png");
}