& {
	:not(.widget-overflow-list) > .toolbarbutton-1:not(
		#fxa-toolbar-menu-button,
		#tabs-newtab-button,
		#new-tab-button,
		.subviewbutton) {
		.toolbarbutton-badge {
			justify-self: end !important;
			margin-inline-end: calc(var(--toolbarbutton-inner-padding) * -1 + 1px) !important;
		}
	}
}


#PersonalToolbar {
	.bookmark-item:not(.menu-iconic, .menuitem-iconic, [data-l10n-id="places-empty-bookmarks-folder"]) {
		transition: all 150ms linear !important;
	}
}