& {
	// FIXME: Temporarily duplicating this until I find a better way to do it.
	&[lwtheme-id="#{$gtkplus}"] {
		@media (-moz-platform: linux) {
			:not(.widget-overflow-list) {
				> .toolbarbutton-1:not(
					#fxa-toolbar-menu-button,
					#tabs-newtab-button,
					#new-tab-button,
					.subviewbutton
				) {
					
					&#back-button,
					&#forward-button,
					&#reload-button,
					&#stop-button,
					&#home-button {
						&[disabled] {
							opacity: .3 !important;
						}
	
						.toolbarbutton-icon {
							max-width: 24px !important;
							max-height: 24px !important;
						}
					}
	
					&#back-button {
						list-style-image: url(moz-icon://stock/go-previous?size=toolbar) !important;
					}
					
					&#forward-button {
						list-style-image: url(moz-icon://stock/go-next?size=toolbar) !important;
					}
					
					&#reload-button {
						list-style-image: url(moz-icon://stock/view-refresh?size=toolbar) !important;
					}
					
					&#stop-button {
						list-style-image: url(moz-icon://stock/process-stop?size=toolbar) !important;
					}
					
					&#home-button {
						list-style-image: url(moz-icon://stock/go-home?size=toolbar) !important;
					}
				}
			}	

			&[moregtkicons="true"] {
				:not(.widget-overflow-list) {
					> .toolbarbutton-1:not(
						#fxa-toolbar-menu-button,
						#tabs-newtab-button,
						#new-tab-button,
						.subviewbutton
					) {
						&#PanelUI-menu-button,
						&#chrome-button,
						&#page-button,
						&#star-button-box,
						&#go-button-box,
						&#bookmarks-menu-button,
						&#developer-button {
							&[disabled] {
								opacity: .3 !important;
							}
	
							.toolbarbutton-icon,
							image:first-child {
								max-width: 24px !important;
								max-height: 24px !important;
							}
						}
	
						&#PanelUI-menu-button,
						&#chrome-button {
							list-style-image: url(moz-icon://stock/gtk-preferences?size=toolbar) !important;
						}
	
						&#page-button {
							list-style-image: url(moz-icon://stock/document-properties?size=toolbar) !important;
						}
	
						&#go-button-box{
							list-style-image: url(moz-icon://stock/go-next?size=toolbar) !important;
						}
					}
				}

				#star-button-box {
					#star-button {
						&:not([starred="true"]) {
							list-style-image: url(moz-icon://stock/bookmark-missing?size=toolbar) !important;
						}
						&[starred="true"] {
							list-style-image: url(moz-icon://stock/stock_bookmark?size=toolbar) !important;
						}
					}
				}
			}
		}
	}
}

#PersonalToolbar {
	.bookmark-item:not(.menu-iconic, .menuitem-iconic) {
		transition: all 150ms linear !important;
		&::before {
			transition: all 150ms linear !important;
		}
	}
}