/*
 * 1.25x/125%/120dpi | 0.96 * 125 = 120
 */

/* use crisp-edges only for the resolution the assets are sized for */
@media (resolution: 120dpi) { & { --aero-hidpi-image-rendering: crisp-edges; } }
@media (min-resolution: 120dpi)
{
&
{
/* 36 / 1.25 = 28.8   29 - 28.8 = 0.2 */
--aero-hidpi-titlebuttons-minimize-xadjust:           -0.2px; /* 29 * 1.25 = 36.25 */
--aero-hidpi-titlebuttons-minimize-yadjust:           0px;

/* 33 / 1.25 = 26.4    27 - 26.4 = 0.6 */
--aero-hidpi-titlebuttons-maximize-xadjust:           -0.6px; /* 27 * 1.25 = 33.75 */
--aero-hidpi-titlebuttons-maximize-yadjust:           0px;

/* 61 / 1.25 = 48.8   49 - 48.8 = 0.2 */
--aero-hidpi-titlebuttons-close-xadjust:              -0.2px; /* 49 * 1.25 = 61.25 */
--aero-hidpi-titlebuttons-close-yadjust:              0px;

--aero-titlebuttons-bitmap-minimize:                url("Assets/minimize@1.25x.png");
--aero-titlebuttons-bitmap-minimize-hover:          url("Assets/minimize-hover@1.25x.png");
--aero-titlebuttons-bitmap-minimize-active:         url("Assets/minimize-active@1.25x.png");

--aero-titlebuttons-bitmap-maximize:                url("Assets/maximize@1.25x.png");
--aero-titlebuttons-bitmap-maximize-hover:          url("Assets/maximize-hover@1.25x.png");
--aero-titlebuttons-bitmap-maximize-active:         url("Assets/maximize-active@1.25x.png");

--aero-titlebuttons-bitmap-restore:                 url("Assets/restore@1.25x.png");
--aero-titlebuttons-bitmap-restore-hover:           url("Assets/restore-hover@1.25x.png");
--aero-titlebuttons-bitmap-restore-active:          url("Assets/restore-active@1.25x.png");

--aero-titlebuttons-bitmap-close:                   url("Assets/close@1.25x.png");
--aero-titlebuttons-bitmap-close-hover:             url("Assets/close-hover@1.25x.png");
--aero-titlebuttons-bitmap-close-active:            url("Assets/close-active@1.25x.png");

--aero-titlebuttons-bitmap-minimize-unfocus:        url("Assets/minimize-unfocus@1.25x.png");
--aero-titlebuttons-bitmap-minimize-unfocus-hover:  url("Assets/minimize-unfocus-hover@1.25x.png");
--aero-titlebuttons-bitmap-minimize-unfocus-active: url("Assets/minimize-unfocus-active@1.25x.png");

--aero-titlebuttons-bitmap-maximize-unfocus:        url("Assets/maximize-unfocus@1.25x.png");
--aero-titlebuttons-bitmap-maximize-unfocus-hover:  url("Assets/maximize-unfocus-hover@1.25x.png");
--aero-titlebuttons-bitmap-maximize-unfocus-active: url("Assets/maximize-unfocus-active@1.25x.png");

--aero-titlebuttons-bitmap-restore-unfocus:         url("Assets/restore-unfocus@1.25x.png");
--aero-titlebuttons-bitmap-restore-unfocus-hover:   url("Assets/restore-unfocus-hover@1.25x.png");
--aero-titlebuttons-bitmap-restore-unfocus-active:  url("Assets/restore-unfocus-active@1.25x.png");

--aero-titlebuttons-bitmap-close-unfocus:           url("Assets/close-unfocus@1.25x.png");
--aero-titlebuttons-bitmap-close-unfocus-hover:     url("Assets/close-unfocus-hover@1.25x.png");
--aero-titlebuttons-bitmap-close-unfocus-active:    url("Assets/close-unfocus-active@1.25x.png");
}
}

/*
 * 1.5x/150%/144dpi | 0.96 * 150 = 144
 */

/* use crisp-edges only for the resolution the assets are sized for */
@media (resolution: 144dpi) { & { --aero-hidpi-image-rendering: crisp-edges; } }
@media (min-resolution: 144dpi)
{
&
{
/* 44 / 1.5 = 29.33333    29.33333 - 29 = 0.33333 */
--aero-hidpi-titlebuttons-minimize-xadjust:           0.33333px;
--aero-hidpi-titlebuttons-minimize-yadjust:           0px;

/* 41 / 1.5 = 27.33333    27.33333 - 27 = 0.33333 */
--aero-hidpi-titlebuttons-maximize-xadjust:           0.33333px;
--aero-hidpi-titlebuttons-maximize-yadjust:           0px;

/* 75 / 1.5 = 50          50 - 49 = 1 */
--aero-hidpi-titlebuttons-close-xadjust:              1px;
--aero-hidpi-titlebuttons-close-yadjust:              0px;

--aero-titlebuttons-bitmap-minimize:                url("Assets/minimize@1.5x.png");
--aero-titlebuttons-bitmap-minimize-hover:          url("Assets/minimize-hover@1.5x.png");
--aero-titlebuttons-bitmap-minimize-active:         url("Assets/minimize-active@1.5x.png");

--aero-titlebuttons-bitmap-maximize:                url("Assets/maximize@1.5x.png");
--aero-titlebuttons-bitmap-maximize-hover:          url("Assets/maximize-hover@1.5x.png");
--aero-titlebuttons-bitmap-maximize-active:         url("Assets/maximize-active@1.5x.png");

--aero-titlebuttons-bitmap-restore:                 url("Assets/restore@1.5x.png");
--aero-titlebuttons-bitmap-restore-hover:           url("Assets/restore-hover@1.5x.png");
--aero-titlebuttons-bitmap-restore-active:          url("Assets/restore-active@1.5x.png");

--aero-titlebuttons-bitmap-close:                   url("Assets/close@1.5x.png");
--aero-titlebuttons-bitmap-close-hover:             url("Assets/close-hover@1.5x.png");
--aero-titlebuttons-bitmap-close-active:            url("Assets/close-active@1.5x.png");

--aero-titlebuttons-bitmap-minimize-unfocus:        url("Assets/minimize-unfocus@1.5x.png");
--aero-titlebuttons-bitmap-minimize-unfocus-hover:  url("Assets/minimize-unfocus-hover@1.5x.png");
--aero-titlebuttons-bitmap-minimize-unfocus-active: url("Assets/minimize-unfocus-active@1.5x.png");

--aero-titlebuttons-bitmap-maximize-unfocus:        url("Assets/maximize-unfocus@1.5x.png");
--aero-titlebuttons-bitmap-maximize-unfocus-hover:  url("Assets/maximize-unfocus-hover@1.5x.png");
--aero-titlebuttons-bitmap-maximize-unfocus-active: url("Assets/maximize-unfocus-active@1.5x.png");

--aero-titlebuttons-bitmap-restore-unfocus:         url("Assets/restore-unfocus@1.5x.png");
--aero-titlebuttons-bitmap-restore-unfocus-hover:   url("Assets/restore-unfocus-hover@1.5x.png");
--aero-titlebuttons-bitmap-restore-unfocus-active:  url("Assets/restore-unfocus-active@1.5x.png");

--aero-titlebuttons-bitmap-close-unfocus:           url("Assets/close-unfocus@1.5x.png");
--aero-titlebuttons-bitmap-close-unfocus-hover:     url("Assets/close-unfocus-hover@1.5x.png");
--aero-titlebuttons-bitmap-close-unfocus-active:    url("Assets/close-unfocus-active@1.5x.png");
}
}

