/* todo */
/* System theme, not maximized, tabs in titlebar */
&:not(:-moz-lwtheme)[sizemode="normal"][tabsintitlebar] > body::before,
/* Private browsing, not maximized, tabs in titlebar */
&:is([sizemode="normal"][tabsintitlebar][privatebrowsingmode="temporary"],
         [sizemode="normal"][tabsintitlebar][privatebrowsingmode="temporary"][style*="--lwt-additional-images"],
         [sizemode="normal"][tabsintitlebar][privatebrowsingmode="temporary"][lwtheme-image]) > body::before,
#main-window:not(:-moz-lwtheme)[sizemode="normal"][tabsintitlebar] body::before /* <-- Makes it work with Echelon theme */
{
    content: " ";
    position: absolute;
    z-index: 2;

    top: var(--aero-inner-border-inset-top) !important;
    left: var(--aero-inner-border-inset-left) !important;
    right: var(--aero-inner-border-inset-right) !important;
    bottom: var(--aero-inner-border-inset-bottom) !important;

    border-image-slice: 2 2 2 2 !important;
    border-image-width: var(--aero-inner-border-width-top) var(--aero-inner-border-width-right) var(--aero-inner-border-width-bottom) var(--aero-inner-border-width-left) !important;
    border-image-outset: 0px 0px 0px 0px !important;
    border-image-repeat: repeat repeat !important;
    border-image-source: var(--aero-inner-border-source) !important;

    pointer-events: none !important;
}

