&[sizemode="normal"][tabsintitlebar] body::after
{
    content:        " ";
    position:       absolute;
    z-index:        -1;
    pointer-events: none !important;

    top:            0px !important;
    left:           0px !important;
    right:          0px !important;
    bottom:         0px !important;

    border-image-slice: 9 9 9 9 !important;
    border-image-width:
        calc(9px / var(--aero-hidpi-scale))
        calc(9px / var(--aero-hidpi-scale))
        calc(9px / var(--aero-hidpi-scale))
        calc(9px / var(--aero-hidpi-scale))
        !important;
    border-image-outset: 0px 0px 0px 0px !important;
    border-image-repeat: repeat repeat !important;
    border-image-source: var(--aero-frame-border-image) !important;
    image-rendering: crisp-edges !important;
}
