&
{
    --const-aero-border: var(--aero-border);
}

&[sizemode="normal"][tabsintitlebar] body::after
{
    content:        " ";
    position:       absolute;
    z-index:        -1;
    pointer-events: none !important;

    top:            0px !important;
    left:           0px !important;
    right:          0px !important;
    bottom:         0px !important;

    border:         var(--const-aero-border) solid black !important;
    border-radius:  6px !important;

    outline:        var(--aero-highlight) solid var(--aero-inner-highlight-color) !important;
    outline-offset: calc(0px - (var(--aero-highlight)) - var(--const-aero-border)) !important;
    outline-radius: 6px !important;
}
