tooltip
{
    --tooltip-text-color:   #000;
    --tooltip-bg:           linear-gradient(#fafafa,#eeeeff);
    --tooltip-border-color: #555;

    -moz-appearance: none !important;

    color:      var(--tooltip-text-color) !important;
    background: var(--tooltip-bg) !important;

    border:        var(--tooltip-border-color) solid 1px !important;
    border-radius: 3px !important;

    padding-left:   4px !important;
    padding-right:  4px !important;
    padding-top:    1px !important;
    padding-bottom: 1px !important;

    opacity: 1 !important;
}

