body {
	font: message-box;
	font-size: 9pt !important;

	@media (-moz-platform: windows) {
		font-family: Arial, sans-serif !important;
		font-weight: normal !important;
	}
}

h1 {
	font-size: 15pt;
}

@import "header";
@import "blurb";
@import "sections";