body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9pt !important;
	
	@media (-moz-platform: linux) {
		font: message-box;
	}
}

h1 {
	font-size: 15pt;
}

@import "header";
@import "blurb";
@import "sections";