body {
	font: caption;
	font-size: 9pt !important;
	@media (-moz-platform: windows) {
		font-family: Arial, sans-serif !important;
	}
}

h1 {
	font-size: 15pt;
}

@import "header";
@import "blurb";
@import "sections";