& {
    --default-selected-tab-background: linear-gradient(
        to bottom,
		rgb(255, 255, 255),
        rgb(249, 249, 249)
    );

	@media (prefers-color-scheme: dark) {
        --default-inactive-tab-background: #252525;

		--default-selected-tab-background: linear-gradient(
			to bottom,
			#414141,
			#333333
		) !important;
    }
}