& {	
	/*&[geckium-choice="one"],
	&[geckium-choice="three"],
	&[geckium-choice="four"],
	&[geckium-choice="five"],
	&[geckium-choice="six"],
	&[geckium-choice="eleven"],
	&[geckium-choice="twentyone"],
	&[geckium-choice="twentyfive"] {
		&[personalbar="newtab"] {
			--personal-toolbar: rgb(223,223,223) !important;
			--personal-toolbar-border: rgb(203,203,203) !important;
		}
	}*/

	#page-button {
		display: none !important;
	}
}