@import "sidebar";
@import "main";

body {
	font-family: 'Segoe UI', Tahoma, sans-serif !important;
	
	@media (-moz-platform: linux) {
		font: message-box !important;
	}
	@media (-moz-platform: macos) {
		font: 'Lucida Grande', sans-serif !important;
	}
}