menupopup {
	button {
		&:not([disabled="true"]) {
			&:hover {
				fill: #969696 !important;
			}
		}
	}
}

// Hardcoded menu skin
//  Hardcoded menu style construction variables
& {
	--gk-menuitem-background: #EBEBEB;
	--gk-menuitem-foreground: black;
	--gk-menuitem-foreground-keys: black;

	--gk-menuchecked-texture: url("chrome://userchrome/content/assets/img/chrome-68/menu/check.svg");
	--gk-menuradioff-texture: unset;
	--gk-menuradion-texture: url("chrome://userchrome/content/assets/img/chrome-68/menu/radio-sel.svg");

	@media (prefers-color-scheme: dark) {
		--gk-menu-background: #2A2A2D;

		--gk-menuitem-background: #444547;
		--gk-menuitem-foreground: white;
		--gk-menuitem-foreground-keys: white;
	}
}