& {
	--back-button-icon:		url("chrome://userchrome/content/assets/img/chrome-68/toolbar/back.svg");
	--forward-button-icon:	url("chrome://userchrome/content/assets/img/chrome-68/toolbar/forward.svg");
	--reload-button-icon:	url("chrome://userchrome/content/assets/img/chrome-68/toolbar/reload.svg");
	--stop-button-icon:		url("chrome://userchrome/content/assets/img/chrome-68/toolbar/stop.svg");
	--home-button-icon:		url("chrome://userchrome/content/assets/img/chrome-68/toolbar/home.svg");

	--chrome-button-icon:	url("chrome://userchrome/content/assets/img/chrome-68/toolbar/menu_chrome.svg")
}