& {
	--toolbar-start-end-padding: 8px !important;

	--nav-bar-height: 37px;

	--toolbarbutton-width: 24px;
	--toolbarbutton-height: 24px;
	--toolbarbutton-border-radius: 2px !important;
	--toolbarbutton-outer-padding: 2px !important;
	--toolbarbutton-icon-drop-shadow: drop-shadow();

	--personal-toolbar-floating-bg-padding-inline: 6px;
	--default-personal-toolbar-floating-bg: rgb(255,255,255);
	--default-personal-toolbar-floating-border-color: rgb(219,218,219);
	--personal-toolbar-gap: 0;
	--personal-toolbar-height: 28px;
}

#nav-bar {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

:not(.widget-overflow-list) {
	> .toolbarbutton-1:not(
		#fxa-toolbar-menu-button,
		#tabs-newtab-button,
		#new-tab-button,
		.subviewbutton
	) {
	
		border: 0 !important;
		box-shadow: none !important;
	
		&::before {
			content: "";
			transform: scale(0);
			left: 50% !important;
			top: 50% !important;
			transform: translateX(-50%) translateY(-50%) !important;
			width: 0;
			height: 0;
			border-radius: 50% !important;
			background: var(--toolbarbutton-background-hot, var(--default-toolbarbutton-background-hot)) !important;
			transition: width 150ms, height 150ms, opacity 150ms !important;
		}
	
		&::after {
			content: unset;
		}
	
		&:not([disabled]) {
			&:hover {
				background: var(--toolbarbutton-background-hot, var(--default-toolbarbutton-background-hot)) !important;
				
				&::before {
					opacity: 0;
				}
			}
	
			&:active {
				background: transparent !important;
	
				&::before {			
					width: calc(var(--nav-bar-height) - 6px);
					height: calc(var(--nav-bar-height) - 6px);
					opacity: 1;
				}
			}
		}
	
		&#back-button,
		&#forward-button {
			&:not([disabled]) {
				&:active,
				&[open] {
					border: 0 !important;
				}
			}
		}
	
		&#back-button {
			&::before {
				border-top-right-radius: 50% !important;
				border-bottom-right-radius: 50% !important;
			}
		}
	
		&#forward-button {
			&::before {
				border-top-left-radius: 50% !important;
				border-bottom-left-radius: 50% !important;
			}
		}
	}
}

&#back-button,
&#forward-button {
	.toolbarbutton-icon {
		width: 14px !important;
		height: 14px !important;
	}
}

#PersonalToolbar {
	padding-block: 6px !important;

	.bookmark-item:not(.menu-iconic, .menuitem-iconic, [data-l10n-id="places-empty-bookmarks-folder"]) {
		&:active {
			background: var(--personal-toolbar-item-active-bg, var(--default-personal-toolbar-item-active-bg)) !important;

			transition: background-color 100ms linear !important;
		}

		border: 0;
	}
}

#star-button-box {
	#star-button {
		&[starred="true"] {
			fill: var(--default-bookmark-icon-fill) !important;
		}
	}
}