&[geckium-choice="eleven"] {
	@media only screen and (max-width: 940px) {
		#main {
			width: 692px;
		}
	}

	#main-container {
		padding-block-start: 25px
	}
}

#attribution {
	align-items: start;
	margin-block-start: auto;
	margin-block-end: 5px;
	margin-inline-start: 8px;
	align-items: end;
	width: fit-content;
}

@import "sections";
@import "most-visited";
@import "footer";