& {
	--default-logo-wordmark-color: rgb(119, 120, 123);
	--logo-wordmark-color: var(--default-logo-wordmark-color);

	&[geckium-choice="eleven"] {
		&[style*="--chrt-theme-ntp-attribution"] {
			#footer {
				display: none !important;
			}
		}
	}

	// Custom theme support
	// lwtheme
	&:not([lwtheme-id*="default-theme"], [lwtheme-id*="compact-light"]) {
		&[lwtheme-id*="{"],
		&[lwtheme-id*="@mozilla.org"] {
			&:not([lwtheme-id*="#{$gtkplus}"]) {
				&[footer-themable="true"] {
					--logo-wordmark-color: var(--lwt-text-color) !important;
				}
			}
		}
	}
	// chrtheme
	&[lwtheme-id*="compact-light"][chrtheme="true"] {
		&[footer-themable="true"] {
			#logo_wordmark {
				background: var(--section-color) !important;
			}
		}
	}

	&[gkbranding="chromium"] {
		#logo-icon {
			background-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/chromium/product_icon.png");
		}

		#logo-wordmark {
			mask-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/chromium/product_name.png");
		}
	}

	&[gkbranding="chrome"] {
		#logo-icon {
			background-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/google-chrome/product_icon.png");
		}

		#logo-wordmark {
			mask-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/google-chrome/product_name.png");
		}
	}
}



#footer {
	#logo-img {
		align-items: center;
		height: 100%;
		padding-block: 5px;
		padding-inline: 8px;

		#logo-icon {
			width: 32px;
			height: 32px;
			
		}

		#logo-wordmark {
			width: 139px;
			height: 32px;
			mask-size: contain;
			background: var(--logo-wordmark-color);
		}
	}
}