& {
	--default-logo-wordmark-color: rgb(119, 120, 123);
	--logo-wordmark-color: var(--default-logo-wordmark-color);

	&[geckium-choice="eleven"] {
		&[style*="--lwt-gknewtab-attribution-image"],
		&[style*="--chrtheme-theme-ntp-attribution"] {
			#footer {
				display: none;
			}
		}
	}

	// Custom theme support
	// lwtheme
	&[gkthemed]:not([gkchrthemed]) {
		&[footer-themable="true"] {
			--logo-wordmark-color: var(--newtab-text-primary-color, currentColor);
		
			#logo-icon {
				fill: var(--logo-wordmark-color);
			}
		}
	}
	// chrtheme
	&[gkthemed][gkchrthemed] {
		&[footer-themable="true"] {
			#logo-icon {
				fill: var(--section-color, currentColor);
			}
		}
	}
	// GTK+
	&[gksystheme="gtk"]:not([lwtheme], [gkthemed], [gkchrthemed]) {
		&[footer-themable="true"] {
			--logo-wordmark-color: FieldText;
		
			#logo-icon {
				fill: var(--logo-wordmark-color);
			}
		}
	}

	&[gkbranding="geckium"] {
		#logo-icon {
			background-image: url("chrome://userchrome/content/windows/gsettings/imgs/logo.svg");
			fill: #209f43;
			-moz-context-properties: fill, fill-opacity;
		}

		#logo-wordmark {
			mask-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/geckium/product_name.svg");
			margin-inline-start: 2px;
		}
	}

	&[gkbranding="chromium"] {
		#logo-icon {
			background-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/chromium/product_icon.png");
		}

		#logo-wordmark {
			mask-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/chromium/product_name.png");
		}
	}

	&[gkbranding="chrome"] {
		#logo-icon {
			background-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/chrome/product_icon.png");
		}

		#logo-wordmark {
			mask-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/chrome/product_name.png");
		}
	}

	&[gkbranding="firefox"] {
		#logo-icon {
			background-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/firefox/product_icon.png");
		}

		#logo-wordmark {
			mask-image: url("chrome://userchrome/content/pages/newTabHome/assets/chrome-11/imgs/firefox/product_name.png");
		}
	}
}



#footer {
	#logo-img {
		align-items: center;
		height: 100%;
		padding-block: 5px;
		padding-inline: 8px;

		#logo-icon {
			width: 32px;
			height: 32px;
			
		}

		#logo-wordmark {
			width: 139px;
			height: 32px;
			mask-size: contain;
			background: var(--logo-wordmark-color);
		}
	}
}