& {
	--default-section-color: black;
	--section-color: var(--default-section-color);
	--default-spacer-background-color: rgb(229, 229, 229);
	--spacer-background-color: var(--default-spacer-background-color);

	@media (prefers-color-scheme: dark) {
		--section-color: white;
		--spacer-background-color: rgb(61, 61, 61);
	}

	// Custom theme support
	// lwtheme
	&[gkthemed]:not([gkchrthemed]) {
		--section-color: var(--newtab-text-primary-color, currentColor);
		--spacer-background-color: color-mix(in srgb, var(--lwt-accent-color) 70%, transparent);
	}

	// chrtheme
	&[gkthemed][gkchrthemed] {
		--section-color: var(--chrtheme-ntp-text, var(--default-section-color));
		--spacer-background-color: var(--chrtheme-ntp-section, var(--default-spacer-background-color));
	}

	// GTK+
	&[gksystheme="gtk"]:not([lwtheme], [gkchrthemed]) {
		--section-color: FieldText;
		--spacer-background-color: color-mix(in srgb, FieldText 20%, transparent);

		--recently-closed-item-color: -moz-dialogtext;
	}
}

.sections {
	.section {
		margin-inline-start: -14px;
		margin-inline-end: -21px;
		align-items: center;
		font-size: 12pt;
		color: var(--section-color);

		&.collapsed {
			+ div {
				display: flex;
				flex-direction: row;
				gap: 20px;

				.item {
					display: flex;
					align-items: center;
					color: var(--link-color);
					max-width: 114px;
					-moz-context-properties: fill, fill-opacity;
					fill: var(--recently-closed-item-color);

					image {
						width: 16px;
						height: 16px;
						margin-inline-end: 3px;
					}

					label {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}

		.disclosure {
			width: 9px;
			height: 9px;
			margin-inline-end: 5px;
		}

		spacer {
			height: 1px;
			background-color: var(--spacer-background-color);
			margin-inline: 4px;
		}

		button {
			all: unset;
		}

		.section-close-button {
			width: 21px;
			height: 21px;
		}
	}
}

#apps-content,
#most-viewed-content,
#recently-closed-content {
	padding-block-start: 9px;
	margin-block-end: 30px;
}